{% extends 'base.html' %}
{% block title %}Alunos{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_aluno_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    {% if perms.portal.change_aluno and not request.user.is_staff and not request.user.is_superuser %}
    {% else %}
        <ol class="breadcrumb blue-grey lighten-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item"><a href="{% url 'aluno' %}?qs={{ qs }}">Alunos</a></li>
            <li class="breadcrumb-item active">Editando aluno - {{ aluno.nome }}</li>
        </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">
            EDITANDO ALUNO
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.nome.label }}</label>
                                    {{ form.nome }}
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.rg.label }}</label>
                                    {{ form.rg }}
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.emissor.label }}</label>
                                    {{ form.emissor }}
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.cpf.label }}</label>
                                    {{ form.cpf }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-4">
                                {{ form.banco }}
                                <label>{{ form.banco.label }}</label>
                            </div>
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.agencia.label }}</label>
                                    {{ form.agencia }}
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.conta.label }}</label>
                                    {{ form.conta }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.mae.label }}</label>
                                    {{ form.mae }}
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.pai.label }}</label>
                                    {{ form.pai }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.email_responsavel.label }}</label>
                                    {{ form.email_responsavel }}
                                </div>
                            </div>
                            {% if not perms.portal.change_aluno and request.user.is_staff or request.user.is_superuser %}
                                <div class=" col-sm-6">
                                    <div class="md-form">
                                        {{ form.foto }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class=" col-sm-12">
                                <div class="md-form">
                                    <label>{{ form.contato.label }}</label>
                                    {{ form.contato }}
                                </div>
                            </div>
                        </div>

                        {% if not perms.portal.change_aluno and request.user.is_staff or request.user.is_superuser %}
                            <div class="row">
                                <div class=" col-sm-2">
                                    {{ form.pcd }}
                                    <label for="id_pcd" class="form-check-label">{{ form.pcd.label|upper }}</label>
                                </div>
                                <div class=" col-sm-2">
                                    <div class="md-form">
                                        {{ form.cid }}
                                        <label>{{ form.cid.label|upper }}</label>
                                    </div>
                                </div>
                                <div class=" col-sm-8">
                                    <div class="md-form">
                                        {{ form.pcd_descricao }}
                                        <label>{{ form.pcd_descricao.label }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                                    {% if perms.portal.change_aluno and not request.user.is_staff and not request.user.is_superuser %}
                                        <a href="{% url 'perfil_individual' request.user.userprofile.aluno.id %}"
                                           class="btn btn-rounded btn-danger"
                                           data-toggle="tooltip" data-placement="top" title="Cancelar"><i
                                                class="fa fa-close"></i></a>
                                    {% else %}
                                        <a href="{% url 'aluno' %}?qs={{ qs }}" class="btn btn-rounded btn-danger"
                                           data-toggle="tooltip" data-placement="top" title="Cancelar"><i
                                                class="fa fa-close"></i></a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}