{% extends 'base.html' %}
{% block title %}Alunos - SGE - Gestão Estudantil{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_aluno_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Alunos</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    ALUNOS
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-8">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="float-right">
                                <a href="{% url 'aluno_new' %}" class="btn btn-rounded btn-success"><i
                                        class="fa fa-plus"></i> Adicionar</a>
                                <a href="{% url 'import_aluno' %}" class="btn btn-rounded btn-info"
                                   data-toggle="tooltip"
                                   data-placement="top" title="Importar XLS"><i
                                        class="fa fa-arrow-circle-down"></i> Importar</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">Nome</th>
                                <th style="font-weight: bold">E-mail</th>
                                <th colspan="2" style="font-weight: bold; text-align: center">Dados do Responsável</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for aluno in alunos %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ aluno.nome }}</td>
                                    <td style="vertical-align: middle;">{{ aluno.email }}</td>
                                    <td style="vertical-align: middle;">{{ aluno.responsavel }}</td>
                                    <td style="vertical-align: middle; text-align: right">{{ aluno.email_responsavel }}</td>
                                    <td class="px-0 py-0" style="vertical-align: middle; text-align: right">
                                        <i data-toggle="tooltip" data-placement="top" title="Perfil">
                                            <a href="{% url 'perfil_aluno' aluno.id %}"
                                               class="btn-floating btn-sm ifro-color"><i class="fa fa-address-book"></i>
                                            </a>
                                        </i>

                                        <i data-toggle="tooltip" data-placement="top" title="Editar">
                                            <a href="{% url 'aluno_edit' aluno.id %}"
                                               class="btn-floating btn-sm btn-warning"><i
                                                    class="fa fa-pencil"></i>
                                            </a>
                                        </i>
                                        <i data-toggle="tooltip" data-placement="top" title="Excluir">
                                            <a data-toggle="modal" href="#Excluir{{ aluno.id }}"
                                               class="btn-floating btn-sm btn-danger"><i class="fa fa-trash"></i>
                                            </a>
                                        </i>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="card-header warning-color white-text text-center font-bold">
                                        Sem estudantes cadastrados
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!--Pagination -->
                    <nav aria-label="pagination example">
                        <ul class="pagination justify-content-center pagination-circle pg-blue mb-0">

                            <!--LETRAS INICIAIS-->
                            {% for i in lista %}
                                {% if qs|upper == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a href="?qs={{ i|lower }}" class="page-link">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for aluno in alunos %}
        <!--Modal EXCLUIR-->
        <div class="modal fade" id="Excluir{{ aluno.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="heading lead">Excluir</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form action="{% url 'aluno_delete' aluno.id %}"
                              method="POST">
                            {% csrf_token %}
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <p>Tem certeza que deseja excluir?</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-rounded btn-danger waves-effect">
                                    Confirmar
                                </button>
                                <a type="button"
                                   class="btn btn-rounded btn-outline-danger waves-effect"
                                   data-dismiss="modal">
                                    Voltar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal EXCLUIR-->
    {% endfor %}
{% endblock %}