{% extends 'base.html' %}
{% block title %}Alunos{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_aluno_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Alunos</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header grey lighten-1 font-weight-bold">
                ALUNOS
            </div>
            {% if request.user.is_superuser %}
                <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="md-form">
                            <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                            <label for="myInput">Pesquisar...</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-right">
                            <a href="{% url 'aluno_new' %}?qs={{ qs }}" class="btn btn-success"><i
                                    class="fa fa-plus"></i> Adicionar</a>
                            <a href="{% url 'import_aluno' %}" class="btn btn-info"><i
                                    class="fa fa-arrow-circle-down"></i> Importar</a>
                            <a href="{% url 'import_aluno_atualizar' %}" class="btn btn-warning"><i
                                    class="fa fa-refresh"></i> Atualizar</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="md-form">
                            <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                            <label for="myInput">Pesquisar...</label>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!--Pagination -->
            <div class="table-responsive">
                <nav aria-label="pagination example">
                    <ul class="pagination  justify-content-lg-center pagination-circle pg-blue mb-0">

                        <!--LETRAS INICIAIS-->
                        {% for i in lista %}
                            {% if qs|upper == i %}
                                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?qs={{ i|lower }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th style="font-weight: bold">Nome</th>
                        <th style="font-weight: bold">Contato</th>
                        <th style="text-align: right; font-weight: bold">Ações</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for aluno in alunos %}
                        <tr>
                            <td style="vertical-align: middle;">{{ aluno.nome }}</td>
                            <td style="vertical-align: middle">{{ aluno.contato }}</td>
                            <td class="px-0 py-0"
                                style="vertical-align: middle; text-align: right; min-width: 170px; width: 170px">
                                {% if aluno.count_autorizacoes or aluno.count_encaminhamento or aluno.count_ocorrencia %}
                                    <span class="counter">!</span>
                                {% endif %}

                                <a href="{% url 'perfil_individual' aluno.id %}?qs={{ qs }}"><i
                                        class="fa fa-address-book-o fa-2x green-text"></i>
                                </a>


                                <a href="{% url 'aluno_edit' aluno.id %}?qs={{ qs }}"><i
                                        class="fa fa-pencil fa-2x orange-text"></i>
                                </a>
                                {% if request.user.is_superuser %}
                                    <a data-toggle="modal" href="#Excluir{{ aluno.id }}"><i
                                            class="fa fa-trash fa-2x red-text"></i>
                                    </a>
                                    </td>
                                {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="card-header warning-color white-text text-center font-bold">
                                Sem estudantes cadastrados
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!--Pagination -->
            <div class="table-responsive">
                <nav aria-label="pagination example">
                    <ul class="pagination  justify-content-lg-center pagination-circle pg-blue mb-0">

                        <!--LETRAS INICIAIS-->
                        {% for i in lista %}
                            {% if qs|upper == i %}
                                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?qs={{ i|lower }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for aluno in alunos %}
        <!--Modal EXCLUIR-->
        <div class="modal fade" id="Excluir{{ aluno.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="heading lead">Excluir</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'aluno_delete' aluno.id %}?qs={{ qs }}" method="POST">
                        <!--Body-->
                        <div class="modal-body text-center">
                            {% csrf_token %}
                            Tem certeza que deseja excluir?
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit"
                                    class="btn btn-danger waves-effect">
                                Confirmar
                            </button>
                            <a type="button"
                               class="btn btn-outline-danger waves-effect"
                               data-dismiss="modal">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal EXCLUIR-->
    {% endfor %}
{% endblock %}