{% extends 'base.html' %}
{% block title %}Alunos - SGE - Gestão Estudantil{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_aluno_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'aluno' %}?qs=a">Alunos</a></li>
        <li class="breadcrumb-item active">Novo registro</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">
            NOVO ALUNO
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.nome.label }}</label>
                                    {{ form.nome }}
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.responsavel.label }}</label>
                                    {{ form.responsavel }}
                                </div>
                            </div>
                            <div class=" col-sm-6">
                                <div class="md-form">
                                    <label>{{ form.email_responsavel.label }}</label>
                                    {{ form.email_responsavel }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-sm-6">
                                {{ form.empresa }}
                                <label for="id_empresa">{{ form.empresa.label }}</label>
                            </div>
                            <div class="col-sm-6">
                                {{ form.foto }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                                    <a href="javascript:history.back()" class="btn btn-rounded btn-danger"
                                       data-toggle="tooltip" data-placement="top" title="Cancelar"><i
                                            class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}