{% extends 'base.html' %}
{% block title %}Autorizações de saída - SGE - Gestão Estudantil{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_autorizacao_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'autorizacao' %}">Autorizações</a></li>
        <li class="breadcrumb-item active">Registrar autorização</li>
    </ol>
{% endblock %}

{% block content %}
    <form action="{% url 'autorizacao_register' %}" method="POST">
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="card redonda">                 <div class="card-header redonda grey lighten-1 font-weight-bold">
                        <div class="float-left">
                            Curso: {{ turma.curso.descricao|upper }}<br>
                            <span class="float-lg-left">Turma: {{ turma.descricao }}</span>
                            <span class="float-right">Ano Letivo: {{ ano }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="md-form form-group">
                            <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                            <label for="myInput">Pesquisar aluno...</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <tbody id="myTable">
                                {% for m in matriculas %}
                                    <tr>
                                        <th scope="row" class="pr-md-3 pr-5">
                                            <input class="form-check-input" type="checkbox" id="id_{{ m.id }}"
                                                   value="{{ m.id }}"
                                                   name="mat_{{ m.aluno.id }}">
                                            <label for="id_{{ m.id }}" class="label-table"></label>
                                            {#                                            </form>#}
                                        </th>
                                        <td>{{ m.aluno }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td class="card-header warning-color white-text text-center"><strong>NÃO HÁ
                                            ALUNOS PARA TURMA SELECIONADA</strong></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card redonda">                 <div class="card-header redonda grey lighten-1 font-weight-bold">
                        DADOS DA AUTORIZAÇÃO DE SAÍDA
                    </div>
                    <div class="card-body">
                        <input type="hidden" value="{{ turma.id }}" name="turma">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <label>{{ form.data.label }}</label>
                                    {{ form.data }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <label>{{ form.descricao.label }}</label>
                                    {{ form.descricao }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                                    <a href="{% url 'autorizacao' %}" class="btn btn-rounded btn-danger"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Cancelar"><i
                                            class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}