{% extends 'base.html' %}
{% block title %}Autorizações de saída - SGE - Gestão Estudantil{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_autorizacao_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Autorizações de saída</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    AUTORIZAÇÕES DE SAÍDA - {{ aluno.nome }}
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a href="{% url 'report_autorizacao_saida_aluno' aluno.id %}" class="btn btn-rounded btn-block btn-danger"><i
                                        class="fa fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped btn-table">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">#</th>
                                <th style="font-weight: bold">Descrição</th>
                                <th style="font-weight: bold">Saída</th>
                                <th style="font-weight: bold">Autorizado por</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for autorizacao in autorizacoes %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ autorizacao.id }}</td>
                                    <td style="vertical-align: middle;">{{ autorizacao.descricao }}</td>
                                    <td style="vertical-align: middle;">
                                        {% if autorizacao.status == 'Efetuado' %}
                                            {{ autorizacao.update_at|date }} às {{ autorizacao.update_at|time }}
                                        {% else %}
                                            Aguardando saída
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">{{ autorizacao.user }}</td>
                                    <td class="px-0 py-0" style="vertical-align: middle; text-align: right">
                                        <i data-toggle="tooltip" data-placement="top" title="Visualizar">
                                            <a href="{% url 'autorizacao_show' autorizacao.id %}"
                                               class="btn-floating btn-sm info-color"><i class="fa fa-search"></i>
                                            </a>
                                        </i>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="card-header warning-color white-text text-center"><strong>
                                        NÃO HÁ AUTORIZAÇÕES REGISTRADAS</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer font-weight-bold">
                    <span class="float-left">
                        TOTAL: {{ autorizacoes.count }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}