{% extends 'base.html' %}
{% block title %}Autorizações de saída{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_autorizacao_item %}collapsible-header active{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons, #card { display: none; }
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'autorizacao' %}">Autorizações</a></li>
        <li class="breadcrumb-item active">Autorização #{{ autorizacao.id }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#" onclick="window.print(); return false;" class="btn-floating btn-lg btn-danger">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <br>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda mb-3">
                <div class="card-header redonda grey lighten-1 font-weight-bold" id="card">
                    AUTORIZAÇÃO {{ autorizacao.id }}/{{ ano }}
                </div>
                <div class="card-body border-primary">
                    <table class="table table-bordered table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ autorizacao.user.userprofile.empresa.razao_social|upper }}<br>
                                <em>CAMPUS </em>{{ autorizacao.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <tbody>
                        <tr>
                            <td>
                                <div class="font-weight-bold">
                                    CURSO
                                </div>
                                {{ autorizacao.matricula.turma }}
                            </td>
                            <td class="text-right">
                                <div class="font-weight-bold">
                                    DATA
                                </div>
                                {{ autorizacao.data }}
                            </td>
                            <td class="text-right">
                                <div class="font-weight-bold">
                                    AUTORIZAÇÃO DE SAÍDA
                                </div>
                                {{ autorizacao.id }}/{{ ano }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="font-weight-bold">
                                    ESTUDANTE
                                </div>
                                {{ autorizacao.matricula.aluno }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="font-weight-bold">
                                    DESCRIÇÃO DA AUTORIZAÇÃO DE SAÍDA
                                </div>
                                {{ autorizacao.descricao }}
                            </td>
                            <td>
                                <div class="font-weight-bold">
                                    DATA E HORA DA SAÍDA
                                </div>
                                {{ autorizacao.update_at }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <tbody>
                        <tr>
                            <td colspan="3" class="text-center align-bottom">
                                <p class="font-weight-bold text-left">
                                    AUTORIZADO POR
                                </p>
                                <div class="font-weight-bold">
                                    {{ autorizacao.user }}
                                </div>
                                {{ autorizacao.user.userprofile.siape }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="font-size: 8pt; text-align: left"><strong>Impresso em:</strong> {% now "d/m/y" %}
                        às {% now "H:m:s" %} por {{ request.user }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}