{% extends 'base.html' %}
{% load static %}
{% block title %}Autorizações de saída{% endblock %}
{% block class_autorizacao_pendente_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'autorizacao' %}">Autorizações</a></li>
        <li class="breadcrumb-item active">Saídas autorizadas</li>
    </ol>
{% endblock %}

{% block content %}
    {% if aluno == 'erro' %}
        <div class="alert alert-danger">
        Erro! Não foi possível identificar o aluno com o CPF {{ cpf }}
        </div>
    {% elif aluno != '' %}
        <div class="alert alert-success">
        Sucesso! Saída do aluno {{ aluno.nome }} registrada!
        </div>
    {% endif %}
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">
            Leitor de QrCode
        </div>
        <div class="card-body text-center">
            <canvas></canvas>
            <form action="" id="formcpf" method="POST">
                {% csrf_token %}
                <input type="text" id="cpf" name="cpf" onchange="this.form.submit();" style="display: none">
            </form>
            {#            {% if aluno %}#}
            {#                <strong>Aluno: </strong> {{ aluno.nome }}<br>#}
            {#                <strong>Nascimento: </strong> {{ aluno.nascimento }}<br>#}
            {#                <strong>CPF: </strong> {{ aluno.cpf }}<br>#}
            {#                <strong>Matrícula: </strong> {{ aluno.numero_matricula }}#}
            {#            {% endif %}#}
            {#            {% if matricula %}#}
            {#                <hr>#}
            {#                <strong>Curso: </strong>{{ matricula.turma.curso.descricao }}<br>#}
            {#                <strong>Turma: </strong>{{ matricula.turma.descricao }}<br>#}
            {#                <strong>Ano Letivo: </strong>{{ matricula.ano_letivo }}#}
            {#            {% endif %}#}
        </div>
    </div>
    <!--Panel PENDENTES-->
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">SAÍDAS AUTORIZADAS PENDENTES</div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-12">
                    <div class="md-form">
                        <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                        <label for="myInput">Pesquisar...</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped btn-table">
                    <thead>
                    <tr>
                        <th style="font-weight: bold">Aluno</th>
                        <th style="font-weight: bold">Autorizado por</th>
                        <th style="font-weight: bold">Data</th>
                        <th style="text-align: right; font-weight: bold">Ações</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for autorizacao in autorizacoes %}
                        <tr>
                            <td style="vertical-align: middle;">{{ autorizacao.matricula.aluno }}</td>
                            <td style="vertical-align: middle;">{{ autorizacao.user }}</td>
                            <td style="vertical-align: middle;">{{ autorizacao.data }}</td>
                            <td class="px-0 py-0" style="vertical-align: middle; text-align: right">

                                <i data-toggle="tooltip" data-placement="top" title="Registrar Saída">
                                    <a data-toggle="modal" href="#RegistrarSaida{{ autorizacao.id }}"
                                       class="btn-floating btn-sm success-color"><i
                                            class="fa fa-check"></i></a>
                                </i>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="card-header warning-color white-text text-center"><strong>
                                NÃO HÁ SAÍDAS AUTORIZADAS</strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/.Panel PENDENTES-->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/qrcode/qrcodelib.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/qrcode/webcodecamjs.js' %}"></script>
    <script type="text/javascript">
        var txt = "innerText" in HTMLElement.prototype ? "innerText" : "textContent";
        var arg = {
            resultFunction: function (result) {
                {#var aChild = document.createElement('li');#}
                {#aChild[txt] = result.format + ': ' + result.code;#}
                {#document.querySelector('body').appendChild(aChild);#}
                document.getElementById("cpf").value = '';
                document.getElementById("cpf").value = result.code;
                document.getElementById("formcpf").submit();
            }
        };
        new WebCodeCamJS("canvas").init(arg).play();
        {#new WebCodeCamJS("canvas").options(opcoes).init(arg).play();#}

    </script>
{% endblock %}

{% block modal %}
    {% for autorizacao in autorizacoes %}
        <!--Modal CONFIRMAR-->
        <div class="modal fade" id="RegistrarSaida{{ autorizacao.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-bold py-2">Registrar
                            saída</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'autorizacao_confirmar' autorizacao.id %}" method="POST">
                        <!--Body-->
                        <div class="modal-body">
                            {% csrf_token %}
                            Tem certeza que registrar essa saída de
                            <strong>{{ autorizacao.matricula.aluno }}</strong>?
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit"
                                    class="btn btn-rounded btn-success waves-effect">Confirmar
                            </button>
                            <a type="button" class="btn btn-rounded btn-outline-success"
                               data-dismiss="modal">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal CONFIRMAR-->
    {% endfor %}
{% endblock %}