{% extends 'base.html' %}
{% block title %}Categoria de serviço{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_servicos_categoria_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'servico_categoria' %}">Categoria de serviço</a></li>
        <li class="breadcrumb-item active">Editando categoria - {{ servico_categoria.descricao }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">
            EDITANDO CATEGORIA DE SERVIÇO
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <label>{{ form.descricao.label }}</label>
                            {{ form.descricao }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="float-right">
                            <button type="submit" class="btn btn-success">SALVAR</button>
                            <a href="{% url 'servico_categoria' %}" class="btn btn-danger">CANCELAR</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}