{% extends 'base.html' %}
{% block title %}Configuração - SGE - Gestão Estudantil{% endblock %}
{% block class_configuracoes_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Configurações</li>
    </ol>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card redonda mb-4">
            <div class="card-header redonda grey lighten-1 font-weight-bold">
                ENVIO DE E-MAILS
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda btn-warning white-text">
                                Autorizações de saída
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    {{ form.autorizacao_email_aluno }}
                                    <label for="id_autorizacao_email_aluno"
                                           class="form-check-label">{{ form.autorizacao_email_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.autorizacao_email_responsavel_aluno }}
                                    <label for="id_autorizacao_email_responsavel_aluno"
                                           class="form-check-label">{{ form.autorizacao_email_responsavel_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.autorizacao_email_responsavel_user }}
                                    <label for="id_autorizacao_email_responsavel_user"
                                           class="form-check-label">{{ form.autorizacao_email_responsavel_user.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.autorizacao_email_responsavel_setor }}
                                    <label for="id_autorizacao_email_responsavel_setor"
                                           class="form-check-label">{{ form.autorizacao_email_responsavel_setor.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.autorizacao_email_coordenacao_curso }}
                                    <label for="id_autorizacao_email_coordenacao_curso"
                                           class="form-check-label">{{ form.autorizacao_email_coordenacao_curso.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda primary-color-dark white-text">
                                Encaminhamentos
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    {{ form.encaminhamento_email_aluno }}
                                    <label for="id_encaminhamento_email_aluno"
                                           class="form-check-label">{{ form.encaminhamento_email_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.encaminhamento_email_responsavel_aluno }}
                                    <label for="id_encaminhamento_email_responsavel_aluno"
                                           class="form-check-label">{{ form.encaminhamento_email_responsavel_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.encaminhamento_email_responsavel_user }}
                                    <label for="id_encaminhamento_email_responsavel_user"
                                           class="form-check-label">{{ form.encaminhamento_email_responsavel_user.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.encaminhamento_email_responsavel_setor }}
                                    <label for="id_encaminhamento_email_responsavel_setor"
                                           class="form-check-label">{{ form.encaminhamento_email_responsavel_setor.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.encaminhamento_email_coordenacao_curso }}
                                    <label for="id_encaminhamento_email_coordenacao_curso"
                                           class="form-check-label">{{ form.encaminhamento_email_coordenacao_curso.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda ifro-color white-text">
                                Ocorrências disciplinares
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    {{ form.ocorrencia_email_aluno }}
                                    <label for="id_ocorrencia_email_aluno"
                                           class="form-check-label">{{ form.ocorrencia_email_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.ocorrencia_email_responsavel_aluno }}
                                    <label for="id_ocorrencia_email_responsavel_aluno"
                                           class="form-check-label">{{ form.ocorrencia_email_responsavel_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.ocorrencia_email_responsavel_user }}
                                    <label for="id_ocorrencia_email_responsavel_user"
                                           class="form-check-label">{{ form.ocorrencia_email_responsavel_user.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.ocorrencia_email_responsavel_setor }}
                                    <label for="id_ocorrencia_email_responsavel_setor"
                                           class="form-check-label">{{ form.ocorrencia_email_responsavel_setor.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.ocorrencia_email_coordenacao_curso }}
                                    <label for="id_ocorrencia_email_coordenacao_curso"
                                           class="form-check-label">{{ form.ocorrencia_email_coordenacao_curso.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda primary-color-dark white-text">
                                Retorno encaminhamentos
                            </div>
                            <div class="card-body">
                                <div class="form-check">
                                    {{ form.providencia_encaminhamento_email_aluno }}
                                    <label for="id_providencia_encaminhamento_email_aluno"
                                           class="form-check-label">{{ form.providencia_encaminhamento_email_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.providencia_encaminhamento_email_responsavel_aluno }}
                                    <label for="id_providencia_encaminhamento_email_responsavel_aluno"
                                           class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_aluno.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.providencia_encaminhamento_email_responsavel_user }}
                                    <label for="id_providencia_encaminhamento_email_responsavel_user"
                                           class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_user.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.providencia_encaminhamento_email_responsavel_setor }}
                                    <label for="id_providencia_encaminhamento_email_responsavel_setor"
                                           class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_setor.label }}</label>
                                </div>
                                <div class="form-check">
                                    {{ form.providencia_encaminhamento_email_coordenacao_curso }}
                                    <label for="id_providencia_encaminhamento_email_coordenacao_curso"
                                           class="form-check-label">{{ form.providencia_encaminhamento_email_coordenacao_curso.label }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="float-right">
                    <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                            data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}