{% extends 'base.html' %}
{% block title %}Configurações{% endblock %}
{% block class_configuracoes_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Configurações</li>
    </ol>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card redonda mb-4">
            <div class="card-header redonda grey lighten-1 font-weight-bold">
                ENVIO DE E-MAILS
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda btn-warning white-text">
                                Autorizações de saída
                            </div>
                            <div class="card-body">
                                {{ form.autorizacao_email_aluno }}
                                <label for="id_autorizacao_email_aluno"
                                       class="form-check-label">{{ form.autorizacao_email_aluno.label }}</label>

                                {{ form.autorizacao_email_responsavel_aluno }}
                                <label for="id_autorizacao_email_responsavel_aluno"
                                       class="form-check-label">{{ form.autorizacao_email_responsavel_aluno.label }}</label>

                                {{ form.autorizacao_email_responsavel_user }}
                                <label for="id_autorizacao_email_responsavel_user"
                                       class="form-check-label">{{ form.autorizacao_email_responsavel_user.label }}</label>

                                {{ form.autorizacao_email_responsavel_setor }}
                                <label for="id_autorizacao_email_responsavel_setor"
                                       class="form-check-label">{{ form.autorizacao_email_responsavel_setor.label }}</label>

                                {{ form.autorizacao_email_coordenacao_curso }}
                                <label for="id_autorizacao_email_coordenacao_curso"
                                       class="form-check-label">{{ form.autorizacao_email_coordenacao_curso.label }}</label>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda primary-color-dark white-text">
                                Encaminhamentos
                            </div>
                            <div class="card-body">
                                {{ form.encaminhamento_email_aluno }}
                                <label for="id_encaminhamento_email_aluno"
                                       class="form-check-label">{{ form.encaminhamento_email_aluno.label }}</label>

                                {{ form.encaminhamento_email_responsavel_aluno }}
                                <label for="id_encaminhamento_email_responsavel_aluno"
                                       class="form-check-label">{{ form.encaminhamento_email_responsavel_aluno.label }}</label>

                                {{ form.encaminhamento_email_responsavel_user }}
                                <label for="id_encaminhamento_email_responsavel_user"
                                       class="form-check-label">{{ form.encaminhamento_email_responsavel_user.label }}</label>

                                {{ form.encaminhamento_email_responsavel_setor }}
                                <label for="id_encaminhamento_email_responsavel_setor"
                                       class="form-check-label">{{ form.encaminhamento_email_responsavel_setor.label }}</label>

                                {{ form.encaminhamento_email_coordenacao_curso }}
                                <label for="id_encaminhamento_email_coordenacao_curso"
                                       class="form-check-label">{{ form.encaminhamento_email_coordenacao_curso.label }}</label>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda ifro-color white-text">
                                Ocorrências disciplinares
                            </div>
                            <div class="card-body">
                                {{ form.ocorrencia_email_aluno }}
                                <label for="id_ocorrencia_email_aluno"
                                       class="form-check-label">{{ form.ocorrencia_email_aluno.label }}</label>

                                {{ form.ocorrencia_email_responsavel_aluno }}
                                <label for="id_ocorrencia_email_responsavel_aluno"
                                       class="form-check-label">{{ form.ocorrencia_email_responsavel_aluno.label }}</label>

                                {{ form.ocorrencia_email_responsavel_user }}
                                <label for="id_ocorrencia_email_responsavel_user"
                                       class="form-check-label">{{ form.ocorrencia_email_responsavel_user.label }}</label>

                                {{ form.ocorrencia_email_responsavel_setor }}
                                <label for="id_ocorrencia_email_responsavel_setor"
                                       class="form-check-label">{{ form.ocorrencia_email_responsavel_setor.label }}</label>

                                {{ form.ocorrencia_email_coordenacao_curso }}
                                <label for="id_ocorrencia_email_coordenacao_curso"
                                       class="form-check-label">{{ form.ocorrencia_email_coordenacao_curso.label }}</label>
                            </div>
                        </div>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-sm-3">
                        <div class="card redonda">
                            <div class="card-header redonda primary-color-dark white-text">
                                Retorno encaminhamentos
                            </div>
                            <div class="card-body">
                                {{ form.providencia_encaminhamento_email_aluno }}
                                <label for="id_providencia_encaminhamento_email_aluno"
                                       class="form-check-label">{{ form.providencia_encaminhamento_email_aluno.label }}</label>

                                {{ form.providencia_encaminhamento_email_responsavel_aluno }}
                                <label for="id_providencia_encaminhamento_email_responsavel_aluno"
                                       class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_aluno.label }}</label>

                                {{ form.providencia_encaminhamento_email_responsavel_user }}
                                <label for="id_providencia_encaminhamento_email_responsavel_user"
                                       class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_user.label }}</label>

                                {{ form.providencia_encaminhamento_email_responsavel_setor }}
                                <label for="id_providencia_encaminhamento_email_responsavel_setor"
                                       class="form-check-label">{{ form.providencia_encaminhamento_email_responsavel_setor.label }}</label>

                                {{ form.providencia_encaminhamento_email_coordenacao_curso }}
                                <label for="id_providencia_encaminhamento_email_coordenacao_curso"
                                       class="form-check-label">{{ form.providencia_encaminhamento_email_coordenacao_curso.label }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                    data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-sm-12">
                <div class="card redonda mb-4">
                    <div class="card-header redonda grey lighten-1 font-weight-bold">
                        SOLICITAÇÕES DE ACESSO
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                <th style="font-weight: bold">Nome</th>
                                <th style="font-weight: bold">Usuário</th>
                                <th style="font-weight: bold">E-mail</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                                </thead>
                                <tbody>
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ usuario.first_name }}</td>
                                        <td style="vertical-align: middle;">{{ usuario.username }}</td>
                                        <td style="vertical-align: middle;">{{ usuario.email }}</td>
                                        <td class="px-0 py-0" style="vertical-align: middle; text-align: right">
                                            <i data-toggle="tooltip" data-placement="top" title="Negar acesso">
                                                <a data-toggle="modal" href="#NegarRegistro{{ usuario.id }}"
                                                   class="btn-floating btn-sm danger-color"><i class="fa fa-close"></i>
                                                </a>
                                            </i>

                                            <i data-toggle="tooltip" data-placement="top" title="Confirmar acesso">
                                                <a data-toggle="modal" href="#ConfirmarRegistro{{ usuario.id }}"
                                                   class="btn-floating btn-sm success-color"><i class="fa fa-check"></i>
                                                </a>
                                            </i>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5"
                                            class="card-header warning-color white-text text-center font-weight-bold">
                                            SEM
                                            NOVAS SOLICITAÇÕES DE ACESSO
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modal %}
    {% for usuario in usuarios %}
        <!--Modal NEGAR-->
        <div class="modal fade" id="NegarRegistro{{ usuario.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-bold py-2">
                            Negar registro</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                                                <span aria-hidden="true"
                                                                      class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'usuario_negar' usuario.id %}" method="POST">
                        <!--Body-->
                        <div class="modal-body text-center">
                            {% csrf_token %}
                            Tem certeza que deseja negar o acesso?<br>Essa ação irá <strong>excluir</strong> o registro.
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit"
                                    class="btn btn-rounded btn-danger waves-effect">
                                Confirmar
                            </button>
                            <a type="button"
                               class="btn btn-rounded btn-outline-danger"
                               data-dismiss="modal">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal NEGAR-->

        <!--Modal CONFIRMAR-->
        <div class="modal fade" id="ConfirmarRegistro{{ usuario.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-bold py-2">
                            Confirmar
                            registro</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                                                <span aria-hidden="true"
                                                                      class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'usuario_ativar' usuario.id %}" method="POST">
                        <!--Body-->
                        <div class="modal-body text-center">
                            {% csrf_token %}
                            Tem certeza que deseja ativar o usuário?
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit"
                                    class="btn btn-rounded btn-success waves-effect">
                                Confirmar
                            </button>
                            <a type="button"
                               class="btn btn-rounded btn-outline-success"
                               data-dismiss="modal">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal CONFIRMAR-->
    {% endfor %}
{% endblock %}