{% extends 'base.html' %}
{% block title %}Conselho de classe{% endblock %}
{% block class_conselho_menu %}active{% endblock %}
{% load humanize %}
{% load static %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    a:link {text-decoration: none;}
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Conselho de classe</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header grey lighten-1 font-weight-bold text-uppercase">
            CONSELHO DE CLASSE
        </div>
        <div class="card-body">
            <div class="flex-wrap">
                {% for curso in cursos %}
                    {% if curso.retorna_turmas %}
                        <p>
                            <strong style="font-weight: bold">{{ curso.descricao.upper }}</strong><br>
                            {% for turma in curso.retorna_turmas %}
                                <a class="btn btn-sm btn-info waves-effect" type="button"
                                   href="{% url 'ocorrencia_new' turma.id %}"
                                   style="font-weight: bold">{{ turma.descricao }} - {{ turma.turno }}</a>
                            {% endfor %}
                            <br>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}