{% extends 'base.html' %}
{% block title %}Cursos{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_curso_item %}collapsible-header active{% endblock %}

{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'curso' %}">Cursos</a></li>
        <li class="breadcrumb-item active">Novo registro</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header grey lighten-1 font-weight-bold">
            NOVO CURSO
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="md-form">
                                    <label>{{ form.descricao.label }}</label>
                                    {{ form.descricao }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="md-form">
                                    <label>{{ form.email.label }}</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-success">SALVAR</button>
                                    <a href="{% url 'curso' %}" class="btn btn-danger">CANCELAR</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}