{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block class_dashboard_menu %}active{% endblock %}
{% load humanize %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-6">
            <!--Card-->
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    <p class="float-left m-0">
                        Indicadores
                    </p>
                    <a href="{% url 'report_general' %}" class="float-right m-0"> VER MAIS</a>
                </div>
                <div class="card-body">
                    <p class="border-bottom">
                        Autorizações de saída
                        <span class="badge badge-warning badge-pill pull-right">{{ indicador_autorizacao.count }}</span>

                    </p>
                    <p class="border-bottom">
                        Encaminhamentos
                        <span class="badge badge-primary badge-pill pull-right">{{ indicador_encaminhamento.count }}</span>
                    </p>
                    <p class="border-bottom">
                        Ocorrências disciplinares
                        <span class="badge ifro-color badge-pill pull-right">{{ indicador_ocorrencia.count }}</span>
                    </p>
                    <p class="border-bottom">
                        Prazo médio de retorno de encaminhamentos (dias)
                        <span class="badge badge-danger badge-pill pull-right">
                            {% if indicador_encaminhamento_tempo.is_integer %}
                                {{ indicador_encaminhamento_tempo|intword }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </p>
                    <p class="border-bottom">
                        Prazo médio de retorno de ocorrências (dias)
                        <span class="badge badge-danger badge-pill pull-right">
                            {% if indicador_ocorrencia_tempo.is_integer %}
                                {{ indicador_ocorrencia_tempo|intword }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <!--Card-->
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    <p class="float-left m-0">
                        Indicadores gerais
                    </p>
                </div>
                <div class="card-body">
                    <p class="border-bottom">
                        Total de alunos matriculados
                        <span class="badge badge-warning badge-pill pull-right">{{ indicador_alunos.count }}</span>

                    </p>
                    <p class="border-bottom">
                        Total de cursos
                        <span class="badge badge-primary badge-pill pull-right">{{ indicador_cursos.count }}</span>
                    </p>
                    <p class="border-bottom">
                        Total de turmas
                        <span class="badge ifro-color badge-pill pull-right">{{ indicador_turmas.count }}</span>
                    </p>
                    <p class="border-bottom">
                        Servidores ativos
                        <span class="badge badge-danger badge-pill pull-right">{{ indicador_servidores.count }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--ENCAMINHAMENTOS-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Encaminhamentos por categoria
                </div>
                <div class="card-body">
                    {% if servico_categorias %}
                        <div id="categoria_encaminhamento"></div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Encaminhamentos por curso
                </div>
                <div class="card-body">
                    {% if cursos %}
                        <!--Div that will hold the dashboard-->
                        <div id="dashboard_encaminhamento_curso" class="text-center">
                            <!--Divs that will hold each control and chart-->
                            <div id="grafico_encaminhamento_curso"></div>
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--OCORRÊNCIAS-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Ocorrências por categoria
                </div>
                <div class="card-body">
                    {% if categorias %}
                        <!--Div that will hold the dashboard-->
                        <div id="dashboard_ocorrencia_categoria" class="text-center">
                            <!--Divs that will hold each control and chart-->
                            <div id="grafico_ocorrencia_categoria"></div>
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Ocorrências por curso
                </div>
                <div class="card-body">
                    {% if cursos %}
                        <!--Div that will hold the dashboard-->
                        <div id="dashboard_ocorrencia_curso" class="text-center">
                            <!--Divs that will hold each control and chart-->
                            <div id="grafico_ocorrencia_curso"></div>
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--STATUS-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    <p class="float-left m-0">
                        Encaminhamentos por status
                    </p>
                    {% if request.user.is_superuser or perms.portal.change_encaminhamento %}
                        <a href="{% url 'encaminhamento_pendente' %}" class="float-right m-0"> VER MAIS</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if status_encaminhamento %}
                        <div id="status_encaminhamento"></div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    <p class="float-left m-0">
                        Ocorrências por status
                    </p>
                    {% if request.user.is_superuser or perms.portal.change_encaminhamento %}
                        <a href="{% url 'ocorrencia_pendente' %}" class="float-right m-0"> VER MAIS</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if status_ocorrencia %}
                        <div id="status_ocorrencia"></div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--ENCAMINHAMENTOS POR MÊS-->
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Registro de encaminhamentos
                </div>
                <div class="card-body">
                    {% if dados_grafico_datas_encaminhamento %}
                        <div id="encaminhamento_mes"></div>

                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--OCORRÊNCIAS POR MÊS-->
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Registro de ocorrências
                </div>
                <div class="card-body">
                    {% if dados_grafico_datas_ocorrencia %}
                        <div id="ocorrencia_mes"></div>

                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--ENCAMINHAMENTOS DETALHADOS-->
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Encaminhamentos detalhados
                </div>
                <div class="card-body">
                    {% if servico_categorias %}
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <select name="CourseEncaminhamento" id="CourseEncaminhamento"
                                            class="mdb-select md-form colorful-select dropdown-success"
                                            onchange="this.form.submit();">
                                        <option value="" disabled
                                                {% if not distribuicao_encaminhamento %}selected{% endif %}>Selecione...
                                        </option>
                                        {% for course in courses_encaminhamento %}
                                            <option value="{{ course.matricula__turma__curso__id }}"
                                                    {% if distribuicao_encaminhamento and course.matricula__turma__curso__id == c_encaminhamento.id %}
                                                    selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="CourseEncaminhamento">Curso</label>
                                </form>
                            </div>
                            <hr class="w-100 clearfix d-md-none">

                            <div class="col">
                                <select id="SelectYearEncaminhamento" name="SelectYearEncaminhamento"
                                        class="mdb-select md-form colorful-select dropdown-success">
                                    <option value="2019" selected>2019</option>
                                    <option value="2018">2018</option>
                                </select>
                                <label for="SelectYearEncaminhamento">Ano letivo</label>
                            </div>
                        </div>
                        <div class="form-row">
                            {% if distribuicao_encaminhamento %}
                                <div class="col-sm-6">
                                    <div id="turma_encaminhamento" style="height:250px"></div>
                                </div>
                                <hr class="w-100 clearfix d-md-none">

                                <div class="col-sm-6">
                                    <div id="distribuicao_encaminhamento" style="height: 250px;"></div>
                                </div>
                            {% else %}
                                <div class="col-sm-12">
                                    <div class="alert card-header info-color-dark white-text text-center">
                                        <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <hr class="w-100 clearfix d-md-none">

    <!--OCORRÊNCIAS DETALHADAS-->
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    Ocorrências detalhadas
                </div>
                <div class="card-body">
                    {% if categorias %}
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <select name="CourseOcorrencia" id="CourseOcorrencia"
                                            class="mdb-select md-form colorful-select dropdown-success"
                                            onchange="this.form.submit();">
                                        <option value="" disabled
                                                {% if not distribuicao %}selected{% endif %}>Selecione...
                                        </option>
                                        {% for course in courses %}
                                            <option value="{{ course.matricula__turma__curso__id }}"
                                                    {% if distribuicao and course.matricula__turma__curso__id == c.id %}
                                                    selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="CourseOcorrencia">Curso</label>
                                </form>
                            </div>
                            <hr class="w-100 clearfix d-md-none">

                            <div class="col-sm-6">
                                <select id="SelectYearOcorrencia" name="SelectYearOcorrencia"
                                        class="mdb-select md-form colorful-select dropdown-success">
                                    <option value="2019" selected>2019</option>
                                    <option value="2018">2018</option>
                                </select>
                                <label for="SelectYearOcorrencia">Ano letivo</label>
                            </div>
                        </div>
                        <div class="form-row">
                            {% if distribuicao %}
                                <div class="col-sm-6">
                                    <div id="turma" style="height: 250px"></div>
                                </div>
                                <hr class="w-100 clearfix d-md-none">

                                <div class="col-sm-6">
                                    <div id="distribuicao" style="height: 250px"></div>
                                </div>
                            {% else %}
                                <div class="col-sm-12">
                                    <div class="alert card-header ifro-color white-text text-center">
                                        <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--OCORRÊNCIAS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_categoria|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_ocorrencia_categoria'));

            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_curso|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_ocorrencia_curso'));

            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Turma');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_turma|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('turma'));

            chart.draw(data, options);
        }
    </script>


    <script>
        google.charts.load("current", {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categorias');
            data.addColumn('number', 'Quantidade');
            data.addRows({{ dados_grafico_ocorrencia_distribuicao|safe }});

            var options = {
                chartArea: {
                    top: 20,
                    bottom: 20,
                    widht: '100%',
                    height: '100%'
                },
                legend: {
                    position: 'none',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('distribuicao'));

            chart.draw(data, options);
        }
    </script>

    <!--ENCAMINHAMENTOS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_encaminhamento_categoria|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('categoria_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_encaminhamento_status|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('status_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_status|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('status_ocorrencia'));

            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_encaminhamento_curso|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_encaminhamento_curso'));

            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Turma');
            data.addColumn('number', 'Quantidade');
            data.addRows({{ dados_grafico_encaminhamento_turma|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('turma_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <script>
        google.charts.load("current", {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categorias');
            data.addColumn('number', 'Quantidade');
            data.addRows({{ dados_grafico_encaminhamento_distribuicao|safe }});

            var options = {
                chartArea: {
                    top: 20,
                    bottom: 20,
                    widht: '100%',
                    height: '100%'
                },
                legend: {
                    position: 'none',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('distribuicao_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <!-- GRÁFICO OCORRÊNCIAS POR MÊS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mês');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_datas_ocorrencia|safe }});

            var options = {
                curveType: 'function',
                legend: 'none',
                pointSize: 7,
                lineWidth: 3,
                chartArea: {
                    top: 10,
                    bottom: 20,
                    widht: '100%',
                    height: '100%'
                },
                series: {
                    0: {
                        color: '#2f9e41'
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('ocorrencia_mes'));

            chart.draw(data, options);
        }
    </script>

    <!-- GRÁFICO ENCAMINHAMENTOS POR MÊS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mês');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_datas_encaminhamento|safe }});

            var options = {
                curveType: 'function',
                legend: 'none',
                pointSize: 7,
                lineWidth: 3,
                chartArea: {
                    top: 10,
                    bottom: 20,
                    widht: '100%',
                    height: '100%'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('encaminhamento_mes'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}