{% extends 'base.html' %}
{% block title %}Dashboard - SGE - Gestão Estudantil{% endblock %}
{% block class_dashboard_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Dasboard</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-lg btn-danger">
            <i class="fa fa-plus"></i>
        </a>

        <ul class="list-unstyled">

            <li>
                <a href="{% url 'autorizacao' %}" class="btn-floating btn-rounded btn-warning" type="button"
                   id="save-png"><i
                        class="fa fa-sign-out" data-toggle="tooltip" data-placement="top"
                        title="Autorização de saída"></i></a>
            </li>
            <li>
                <a href="{% url 'encaminhamento' %}" class="btn-floating btn-rounded primary-color-dark"
                   type="button"><i class="fa fa-book" data-toggle="tooltip" data-placement="top"
                                    title="Encaminhamento"></i></a>
            </li>
            <li>
                <a href="{% url 'ocorrencia' %}" class="btn-floating btn-rounded ifro-color"
                   type="button"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top"
                                    title="Ocorrência disciplinar"></i></a>
            </li>
        </ul>
    </div>
    <div class="row mb-4">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase">OCORRÊNCIAS POR CATEGORIA</p>
                    {% if categorias %}
                        <!--Div that will hold the dashboard-->
                        <div id="dashboard_ocorrencia_categoria" class="text-center">
                            <!--Divs that will hold each control and chart-->
                            <div id="grafico_ocorrencia_categoria"></div>
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase">OCORRÊNCIAS POR CURSOS</p>
                    {% if cursos %}
                        <!--Div that will hold the dashboard-->
                        <div id="dashboard_ocorrencia_curso" class="text-center">
                            <!--Divs that will hold each control and chart-->
                            <div id="grafico_ocorrencia_curso"></div>
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <!--Card-->
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase">INDICADORES</p>

                    <!-- List group links -->
                    <div class="list-group list-group-flush mb-2">
                        <a class="list-group-item list-group-item-action waves-effect">Autorizações
                            <span class="badge badge-warning badge-pill pull-right">{{ indicador_autorizacao.count }}</span>
                        </a>
                        <a class="list-group-item list-group-item-action waves-effect">Encaminhamentos
                            <span class="badge badge-primary badge-pill pull-right">{{ indicador_encaminhamento.count }}</span>
                        </a>
                        <a class="list-group-item list-group-item-action waves-effect">Ocorrências
                            <span class="badge ifro-color badge-pill pull-right">{{ indicador_ocorrencia.count }}</span>
                        </a>
                    </div>
                    <!-- List group links -->

                    <a href="{% url 'report_general' %}"
                       class="btn ifro-color btn-rounded waves-effect btn-block"> Ver
                        relatórios</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase mb-4">DETALHAMENTO DE OCORRÊNCIAS</p>
                    {% if categorias %}
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <select name="CourseOcorrencia" id="CourseOcorrencia"
                                            class="mdb-select colorful-select dropdown-success"
                                            onchange="this.form.submit();">
                                        <option value="" disabled
                                                {% if not distribuicao %}selected{% endif %}>Selecione...
                                        </option>
                                        {% for course in courses %}
                                            <option value="{{ course.matricula__turma__curso__id }}"
                                                    {% if distribuicao and course.matricula__turma__curso__id == c.id %}
                                                    selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="CourseOcorrencia">Curso</label>
                                </form>
                            </div>
                            <hr class="w-100 clearfix d-md-none">

                            <div class="col-sm-6">
                                <select id="SelectYearOcorrencia" name="SelectYearOcorrencia"
                                        class="mdb-select colorful-select dropdown-success">
                                    <option value="2018" selected>2018</option>
                                </select>
                                <label for="SelectYearOcorrencia">Ano letivo</label>
                            </div>
                        </div>
                        <div class="form-row">
                            {% if distribuicao %}
                                <div class="col-sm-6">
                                    <div id="turma" style="height: 250px"></div>
                                </div>
                                <hr class="w-100 clearfix d-md-none">

                                <div class="col-sm-6">
                                    <div id="distribuicao" style="height: 250px"></div>
                                </div>
                            {% else %}
                                <div class="col-sm-12">
                                    <div class="alert card-header ifro-color white-text text-center">
                                        <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ OCORRÊNCIAS</strong>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!--ENCAMINHAMENTOS-->
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase">ENCAMINHAMENTOS POR CATEGORIA</p>
                    {% if servico_categorias %}
                        <div id="categoria_encaminhamento"></div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase">
                        ENCAMINHAMENTOS POR STATUS
                    </p>
                    {% if status_encaminhamento %}
                        <div class="float-right">
                            <i data-toggle="tooltip" data-placement="top" title="Responder encaminhamento">
                                <a href="{% url 'encaminhamento_pendente' %}"
                                   class="btn-floating btn-sm primary-color-dark"><i class="fa fa-bell"></i>
                                </a>
                            </i>
                        </div>
                        <div id="status_encaminhamento"></div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="container">

                    {#                    <div class="card mb-4 text-center py-3 red accent-2 white-text">#}
                    {#                        <i class="fa fa-bell fa-3x mb-3"></i>#}
                    {#                        <h4 class="h4-responsive">Responer</h4>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="font-bold text-uppercase mb-4">DETALHAMENTO DE ENCAMINHAMENTOS</p>
                    {% if servico_categorias %}
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <select name="CourseEncaminhamento" id="CourseEncaminhamento"
                                            class="mdb-select colorful-select dropdown-primary"
                                            onchange="this.form.submit();">
                                        <option value="" disabled
                                                {% if not distribuicao_encaminhamento %}selected{% endif %}>Selecione...
                                        </option>
                                        {% for course in courses_encaminhamento %}
                                            <option value="{{ course.matricula__turma__curso__id }}"
                                                    {% if distribuicao_encaminhamento and course.matricula__turma__curso__id == c_encaminhamento.id %}
                                                    selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="CourseEncaminhamento">Curso</label>
                                </form>
                            </div>
                            <hr class="w-100 clearfix d-md-none">

                            <div class="col">
                                <select id="SelectYearEncaminhamento" name="SelectYearEncaminhamento"
                                        class="mdb-select colorful-select dropdown-info">
                                    <option value="2018" selected>2018</option>
                                </select>
                                <label for="SelectYearEncaminhamento">Ano letivo</label>
                            </div>
                        </div>
                        <div class="form-row">
                            {% if distribuicao_encaminhamento %}
                                <div class="col-sm-6">
                                    <canvas id="turma_encaminhamento" height="150"></canvas>
                                </div>
                                <hr class="w-100 clearfix d-md-none">

                                <div class="col-sm-6">
                                    <canvas id="distribuicao_encaminhamento" height="150"></canvas>
                                </div>
                            {% else %}
                                <div class="col-sm-12">
                                    <div class="alert card-header info-color-dark white-text text-center">
                                        <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card-header warning-color white-text text-center">
                            <strong>NÃO HÁ ENCAMINHAMENTOS</strong>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!--OCORRÊNCIAS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_categoria|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_ocorrencia_categoria'));

            chart.draw(data, options);
        }
    </script>

    {#    <script type="text/javascript">#}
    {##}
    {#        // Load the Visualization API and the controls package.#}
    {#        google.charts.load('current', {'packages': ['corechart', 'controls']});#}
    {##}
    {#        // Set a callback to run when the Google Visualization API is loaded.#}
    {#        google.charts.setOnLoadCallback(drawDashboard);#}
    {##}
    {#        // Callback that creates and populates a data table,#}
    {#        // instantiates a dashboard, a range slider and a pie chart,#}
    {#        // passes in the data and draws it.#}
    {#        function drawDashboard() {#}
    {##}
    {#            // Create our data table.#}
    {#            var data = new google.visualization.DataTable();#}
    {#            data.addColumn('string', 'Categoria');#}
    {#            data.addColumn('number', 'Ocorrências');#}
    {#            data.addRows({{ dados_grafico_ocorrencia_categoria|safe }});#}
    {##}
    {#            // Create a dashboard.#}
    {#            var dashboard = new google.visualization.Dashboard(#}
    {#                document.getElementById('dashboard_ocorrencia_categoria'));#}
    {##}
    {#            // Create a range slider, passing some options#}
    {#            var donutRangeSlider = new google.visualization.ControlWrapper({#}
    {#                'controlType': 'CategoryFilter',#}
    {#                'containerId': 'filtro_ocorrencia_categoria',#}
    {#                'options': {#}
    {#                    'filterColumnLabel': 'Categoria',#}
    {#                    'ui': {#}
    {#                        'caption': 'Todas as categorias',#}
    {#                        'selectedValuesLayout': 'aside',#}
    {#                        'labelStacking': 'horizontal',#}
    {#                        'allowMultiple': true,#}
    {#                        'allowTyping': false,#}
    {#                        'sortValues': false,#}
    {#                        'label': ''#}
    {#                    }#}
    {#                }#}
    {#            });#}
    {##}
    {#            // Create a pie chart, passing some options#}
    {#            var pieChart = new google.visualization.ChartWrapper({#}
    {#                'chartType': 'PieChart',#}
    {#                'containerId': 'grafico_ocorrencia_categoria',#}
    {#                'options': {#}
    {#'width': 300,#}
    {#'height': 300,#}
    {#                    'pieSliceText': 'percentage',#}
    {#                    'legend': {#}
    {#                        'position': 'right',#}
    {#                        'alignment': 'center'#}
    {#                    },#}
    {#                    'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 10}#}
    {#                }#}
    {#            });#}
    {##}
    {#            // Establish dependencies, declaring that 'filter' drives 'pieChart',#}
    {#            // so that the pie chart will only display entries that are let through#}
    {#            // given the chosen slider range.#}
    {#            dashboard.bind(donutRangeSlider, pieChart);#}
    {##}
    {#            // Draw the dashboard.#}
    {#            dashboard.draw(data);#}
    {#        }#}
    {#    </script>#}

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_curso|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_ocorrencia_curso'));

            chart.draw(data, options);
        }
    </script>

    {#    <script type="text/javascript">#}
    {##}
    {#        // Load the Visualization API and the controls package.#}
    {#        google.charts.load('current', {'packages': ['corechart', 'controls']});#}
    {##}
    {#        // Set a callback to run when the Google Visualization API is loaded.#}
    {#        google.charts.setOnLoadCallback(drawDashboard);#}
    {##}
    {#        // Callback that creates and populates a data table,#}
    {#        // instantiates a dashboard, a range slider and a pie chart,#}
    {#        // passes in the data and draws it.#}
    {#        function drawDashboard() {#}
    {##}
    {#            // Create our data table.#}
    {#            var data = new google.visualization.DataTable();#}
    {#            data.addColumn('string', 'Curso');#}
    {#            data.addColumn('number', 'Ocorrências');#}
    {#            data.addRows({{ dados_grafico_ocorrencia_curso|safe }});#}
    {##}
    {#            // Create a dashboard.#}
    {#            var dashboard = new google.visualization.Dashboard(#}
    {#                document.getElementById('dashboard_ocorrencia_curso'));#}
    {##}
    {#            // Create a range slider, passing some options#}
    {#            var donutRangeSlider = new google.visualization.ControlWrapper({#}
    {#                'controlType': 'CategoryFilter',#}
    {#                'containerId': 'filtro_ocorrencia_curso',#}
    {#                'options': {#}
    {#                    'filterColumnLabel': 'Curso',#}
    {#                    'ui': {#}
    {#                        'caption': 'Todos os cursos',#}
    {#                        'selectedValuesLayout': 'aside',#}
    {#                        'labelStacking': 'horizontal',#}
    {#                        'allowMultiple': true,#}
    {#                        'allowTyping': false,#}
    {#                        'label': ''#}
    {#                    }#}
    {#                }#}
    {#            });#}
    {##}
    {#            // Create a pie chart, passing some options#}
    {#            var pieChart = new google.visualization.ChartWrapper({#}
    {#                'chartType': 'PieChart',#}
    {#                'containerId': 'grafico_ocorrencia_curso',#}
    {#                'options': {#}
    {#'width': 300,#}
    {#'height': 300,#}
    {#                    'pieSliceText': 'percentage',#}
    {#                    'legend': {#}
    {#                        'position': 'right',#}
    {#                        'alignment': 'center'#}
    {#                    },#}
    {#                    'chartArea': {'left': 15, 'top': 15, 'right': 0, 'bottom': 10},#}
    {#                }#}
    {#            });#}
    {##}
    {#            // Establish dependencies, declaring that 'filter' drives 'pieChart',#}
    {#            // so that the pie chart will only display entries that are let through#}
    {#            // given the chosen slider range.#}
    {#            dashboard.bind(donutRangeSlider, pieChart);#}
    {##}
    {#            // Draw the dashboard.#}
    {#            dashboard.draw(data);#}
    {#        }#}
    {#    </script>#}

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Turma');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_turma|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('turma'));

            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ dados_grafico_ocorrencia_distribuicao|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    left: 0,
                    righ: 0,
                    bottom: 10,
                    widht: '100%'
                },
                legend: {
                    position: 'none',
                    alignment: 'center'
                },
                hAxis: {
                    title: ''
                }
            };

            var chart = new google.charts.Bar(document.getElementById('distribuicao'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>


    <!--ENCAMINHAMENTOS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_encaminhamento_categoria|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('categoria_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ dados_grafico_encaminhamento_status|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('status_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <script>
        //doughnut
        var ctxD = document.getElementById("turma_encaminhamento").getContext('2d');
        var labels = JSON.parse('{{ turmas_ocorrencia_encaminhamento|safe }}');
        var data = JSON.parse('{{ qtde_turmas_encaminhamento|safe }}');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>
    <script>
        //bar
        var ctxB = document.getElementById("distribuicao_encaminhamento").getContext('2d');
        var labels = JSON.parse('{{ distribuicao_json_encaminhamento|safe }}');
        var data = JSON.parse('{{ distribuicao_qtde_encaminhamento|safe }}');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "{{ c.descricao }}",
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}