{% extends 'base.html' %}
{% block title %}Dashboard - Gestão de Ocorrências - SIGO{% endblock %}
{% block class_dashboard_menu %}active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Dasboard</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-cascade narrower mb-5">
                <div class="view py-3 gradient-card-header info-color-dark">
                    <h5 class="mb-0"><strong>OCORRÊNCIAS POR CATEGORIA</strong></h5>
                </div>
                <div class="card-body">
                    <canvas id="categoria" width="300" height="200"></canvas>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-6">
            <div class="card card-cascade narrower mb-5">
                <div class="view py-3 gradient-card-header info-color-dark">
                    <h5 class="mb-0"><strong>OCORRÊNCIAS POR CURSOS</strong></h5>
                </div>
                <div class="card-body">
                    <canvas id="curso" width="300" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-cascade narrower mb-5">
                <div class="view py-3 gradient-card-header info-color-dark">
                    <h5 class="mb-0"><strong>DETALHAMENTO DE OCORRÊNCIAS</strong></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="lead">
                                <span class="badge info-color-dark p-2">Curso</span>
                            </p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <select name="Course" id="Course" class="mdb-select colorful-select dropdown-primary"
                                        onchange="this.form.submit();">
                                    <option value="" disabled {% if not distribuicao %}selected{% endif %}>
                                        Selecione...
                                    </option>
                                    {% for course in courses %}
                                        <option value="{{ course.matricula__turma__curso__id }}"
                                                {% if distribuicao and course.matricula__turma__curso__id == c.id %}
                                                selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <hr class="w-100 clearfix d-md-none">

                        <div class="col-sm-6">
                            <p class="lead">
                                <span class="badge info-color-dark p-2">Ano Letivo</span>
                            </p>
                            <select class="mdb-select colorful-select dropdown-info">
                                <option value="2018" selected>2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">


                        {% if distribuicao %}
                            <div class="col-sm-6">
                                <canvas id="turma" height="200"></canvas>
                            </div>
                            <hr class="w-100 clearfix d-md-none">

                            <div class="col-sm-6">
                                <canvas id="distribuicao" height="200"></canvas>
                            </div>
                        {% else %}
                            <div class="col-sm-12">
                                <div class="alert card-header info-color-dark white-text text-center">
                                    <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <!--Section: Curso panel-->#}
    {#    <section class="card card-cascade narrower mb-5">#}
    {#        <div class="row">#}
    {#            <div class="col-md-5">#}
    {#                <div class="view py-3 gradient-card-header info-color-dark">#}
    {#                    <h5 class="mb-0"><strong>DETALHAMENTO DE OCORRÊNCIAS</strong></h5>#}
    {#                </div>#}
    {#                <div class="card-body">#}
    {#                    <div class="row">#}
    {#                        <div class="col-md-12 mb-4">#}
    {#                            <p class="lead">#}
    {#                                <span class="badge info-color-dark p-2">Curso</span>#}
    {#                            </p>#}
    {#                            <form action="" method="POST">#}
    {#                                {% csrf_token %}#}
    {#                                <select name="Course" id="Course" class="mdb-select colorful-select dropdown-primary"#}
    {#                                        onchange="this.form.submit();">#}
    {#                                    <option value="" disabled {% if not distribuicao %}selected{% endif %}>#}
    {#                                        Selecione...#}
    {#                                    </option>#}
    {#                                    {% for course in courses %}#}
    {#                                        <option value="{{ course.matricula__turma__curso__id }}"#}
    {#                                                {% if distribuicao and course.matricula__turma__curso__id == c.id %}#}
    {#                                                selected {% endif %}>{{ course.matricula__turma__curso__descricao }}</option>#}
    {#                                    {% endfor %}#}
    {#                                </select>#}
    {#                            </form>#}
    {#                            <p class="lead">#}
    {#                                <span class="badge info-color-dark p-2">Ano Letivo</span>#}
    {#                            </p>#}
    {#                            <select class="mdb-select colorful-select dropdown-info">#}
    {#                                <option value="2018" selected>2018</option>#}
    {#                            </select>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-md-7">#}
    {#                <div class="view py-3 gradient-card-header info-color-dark mb-4">#}
    {#                    {% if distribuicao %}#}
    {#                        <canvas id="distribuicao"></canvas>#}
    {#                    {% else %}#}
    {#                        <strong>SELECIONE O CURSO PARA VER O GRÁFICO</strong>#}
    {#                    {% endif %}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}

{% block script %}
    <script>
        //doughnut
        var ctxD = document.getElementById("categoria").getContext('2d');
        var labels = JSON.parse('{{ categorias_faltas|safe }}');
        var data = JSON.parse('{{ qtde_categorias_faltas|safe }}');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>

    <script>
        //doughnut
        var ctxD = document.getElementById("curso").getContext('2d');
        var labels = JSON.parse('{{ cursos_ocorrencia|safe }}');
        var data = JSON.parse('{{ qtde_cursos_ocorrencia|safe }}');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>

    <script>
        //doughnut
        var ctxD = document.getElementById("turma").getContext('2d');
        var labels = JSON.parse('{{ turmas_ocorrencia|safe }}');
        var data = JSON.parse('{{ qtde_turmas_ocorrencia|safe }}');
        var myLineChart = new Chart(ctxD, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ]
                    }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>
    <script>
        //bar
        var ctxB = document.getElementById("distribuicao").getContext('2d');
        var labels = JSON.parse('{{ distribuicao_ocorrencia|safe }}');
        var data = JSON.parse('{{ distribuicao_qtde|safe }}');
        var myBarChart = new Chart(ctxB, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: "{{ c.descricao }}",
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}