{% extends 'base.html' %}
{% block title %}Encaminhamentos{% endblock %}
{% block class_encaminhamento_menu %}active{% endblock %}
{% block class_encaminhamento_pendente_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'encaminhamento_pendente' %}">Encaminhamentos pendentes</a></li>
        <li class="breadcrumb-item active">Retorno de encaminhamento</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header grey lighten-1 font-weight-bold">
                    DADOS DO ENCAMINHAMENTO
                </div>
                <div class="card-body">
                    <form action="{% url 'encaminhamento_providencia' encaminhamento.id %}" method="POST"
                          onsubmit='disableButton()'>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <tr>
                                            <td>
                                                <strong style="font-weight: bold">
                                                    DATA
                                                </strong>
                                                <br>
                                                {{ encaminhamento.data }}
                                            </td>
                                            <td>
                                                <strong style="font-weight: bold">
                                                    CURSO E TURMA
                                                </strong>
                                                <br>
                                                {{ encaminhamento.matricula.turma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <strong style="font-weight: bold">
                                                    ESTUDANTE
                                                </strong>
                                                <br>
                                                {{ encaminhamento.matricula.aluno }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <strong style="font-weight: bold">
                                                    CATEGORIA DO ENCAMINHAMENTO
                                                </strong>
                                                <br>
                                                {{ encaminhamento.servico.categoria.descricao|upper }}<br>
                                                {{ encaminhamento.servico.descricao }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <strong style="font-weight: bold">
                                                    DESCRIÇÃO DO ENCAMINHAMENTO
                                                </strong>
                                                <br>
                                                {{ encaminhamento.descricao }}
                                            </td>
                                        </tr>
                                        {% if encaminhamento.outras_informacoes %}
                                            <tr>
                                                <td colspan="3">
                                                    <strong style="font-weight: bold">
                                                        OUTRAS INFORMAÇÕES
                                                    </strong>
                                                    <br>
                                                    {{ encaminhamento.outras_informacoes }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td colspan="3" style="text-align: center">
                                                <p style="font-weight: bold; text-align: left">
                                                    ENCAMINHADO POR
                                                </p>
                                                <strong>{{ encaminhamento.user|upper }}</strong><br>
                                                SIAPE: {{ encaminhamento.user.userprofile.siape }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form md-outline">
                                    <label>{{ form.providencias.label }}</label>
                                    {{ form.providencias|attr:'autofocus' }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button id=btn_enviar type="submit" class="btn btn-success">REGISTRAR</button>
                                    <a href="{% url 'encaminhamento_pendente' %}" class="btn btn-danger">CANCELAR</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}