{% extends 'base.html' %}
{% block title %}Encaminhamentos{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_encaminhamento_item %}collapsible-header active{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons, #card { display: none; }
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'encaminhamento' %}">Encaminhamentos</a></li>
        <li class="breadcrumb-item active">Encaminhamento #{{ encaminhamento.id }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda mb-3">
                <div class="card-header redonda grey lighten-1 font-weight-bold" id="card">
                    <p class="float-left m-0">
                        ENCAMINHAMENTO {{ encaminhamento.id }}/{{ ano }}
                    </p>
                    <a href="{% url 'report_pdf_encaminhamento' encaminhamento.id %}"
                       class="float-right m-0" target="_blank">IMPRIMIR</a>
                </div>
                <div class="card-body border-primary">
                    <table class="table table-bordered table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ encaminhamento.user.userprofile.empresa.razao_social|upper }}<br>
                                <em>CAMPUS </em>{{ encaminhamento.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <tbody>
                        <tr>
                            <td>
                                <div class="font-weight-bold">
                                    CURSO
                                </div>
                                {{ encaminhamento.matricula.turma }}
                            </td>
                            <td class="text-right">
                                <div class="font-weight-bold">
                                    DATA
                                </div>
                                {{ encaminhamento.data }}
                            </td>
                            <td class="text-right">
                                <div class="font-weight-bold">
                                    ENCAMINHAMENTO
                                </div>
                                {{ encaminhamento.id }}/{{ ano }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="font-weight-bold">
                                    ESTUDANTE
                                </div>
                                {{ encaminhamento.matricula.aluno }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="font-weight-bold">
                                    CATEGORIA DO ENCAMINHAMENTO
                                </div>
                                SERVIÇO DE {{ encaminhamento.servico.categoria.descricao|upper }}<br>
                                {{ encaminhamento.servico.descricao }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="font-weight-bold">
                                    DESCRIÇÃO DO ENCAMINHAMENTO
                                </div>
                                {{ encaminhamento.descricao }}
                            </td>
                        </tr>
                        {% if encaminhamento.outras_informacoes %}
                            <tr>
                                <td colspan="3">
                                    <div class="font-weight-bold">
                                        OUTRAS INFORMAÇÕES
                                    </div>
                                    {{ encaminhamento.outras_informacoes }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if encaminhamento.providencias %}
                            <tr>
                                <td colspan="3">
                                    <div class="font-weight-bold">
                                        PROVIDÊNCIAS ADOTADAS
                                    </div>
                                    {{ encaminhamento.providencias }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    <div class="font-weight-bold">
                                        PROVIDÊNCIAS ADOTADAS
                                    </div>
                                    Aguardando posicionamento do setor responsável.
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <table class="table table-bordered table-sm">
                        <tbody>
                        {% if encaminhamento.providencias %}
                            <tr>
                                <td colspan="3" class="text-center align-bottom">
                                    {% if encaminhamento.user.userprofile.siape %}
                                        <p class="font-weight-bold text-left">
                                            ENCAMINHADO POR
                                        </p>
                                        <div class="font-weight-bold">
                                            {{ encaminhamento.user }}
                                        </div>
                                        {{ encaminhamento.user.userprofile.siape }}
                                    {% else %}
                                        <p class="font-weight-bold text-left">
                                            SOLICITADO POR
                                        </p>
                                        <div class="font-weight-bold">
                                            {{ encaminhamento.user }}
                                        </div>
                                        {{ encaminhamento.user.userprofile.aluno.cpf }}
                                    {% endif %}
                                </td>
                                <td colspan="3" class="text-center align-bottom">
                                    <p class="font-weight-bold text-left">
                                        ENCAMINHAMENTO ATENDIDO POR
                                    </p>
                                    <div class="font-weight-bold">
                                        {{ encaminhamento.responsavel_providencias }}
                                    </div>
                                    {{ encaminhamento.responsavel_providencias.userprofile.siape }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center align-bottom">
                                    {% if encaminhamento.user.userprofile.siape %}
                                        <p class="font-weight-bold text-left">
                                            ENCAMINHADO POR
                                        </p>
                                        <div class="font-weight-bold">
                                            {{ encaminhamento.user }}
                                        </div>
                                        {{ encaminhamento.user.userprofile.siape }}
                                    {% else %}
                                        <p class="font-weight-bold text-left">
                                            SOLICITADOR POR
                                        </p>
                                        <div class="font-weight-bold">
                                            {{ encaminhamento.user }}
                                        </div>
                                        {{ encaminhamento.user.userprofile.aluno.cpf }}
                                    {% endif %}
                                </td>
                                <td colspan="3" class="text-center align-bottom">
                                    <p class="font-weight-bold text-left">
                                        ENCAMINHAMENTO ATENDIDO POR
                                    </p>
                                    <p>Aguardando posicionamento do setor responsável.</p>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div style="font-size: 8pt; text-align: left"><strong>Impresso em:</strong> {% now "d/m/y" %}
                        às {% now "H:m:s" %} por {{ request.user }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
