{% extends 'base.html' %}
{% block title %}Encaminhamentos{% endblock %}
{% block class_encaminhamento_menu %}active{% endblock %}
{% block class_encaminhamento_pendente_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Encaminhamentos pendentes</li>
    </ol>
{% endblock %}

{% block content %}
    {% if qs %}
        <script>
            window.open('/report/pdf/encaminhamento/{{ qs }}', '_blank');
        </script>
    {% endif %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header grey lighten-1 font-weight-bold">
                    ENCAMINHAMENTOS PENDENTES - {{ encaminhamentos.count }}
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped btn-table">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">Data</th>
                                <th style="font-weight: bold">Categoria</th>
                                <th style="font-weight: bold">Serviço</th>
                                <th style="font-weight: bold">Aluno</th>
                                <th style="text-align: center; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for encaminhamento in encaminhamentos %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ encaminhamento.data }}</td>
                                    <td style="vertical-align: middle;">{{ encaminhamento.servico.categoria }}</td>
                                    <td style="vertical-align: middle;">{{ encaminhamento.servico }}</td>
                                    <td style="vertical-align: middle;">{{ encaminhamento.matricula.aluno }}</td>
                                    <td class="px-0 py-0"
                                        style="vertical-align: middle; text-align: right; min-width: 170px; width: 170px">

                                        <a href="{% url 'report_pdf_encaminhamento' encaminhamento.id %}"
                                           target="_blank"><i class="fa fa-print fa-2x indigo-text"></i>
                                        </a>

                                        <a href="{% url 'encaminhamento_providencia' encaminhamento.id %}"><i
                                                class="fa fa-check fa-2x green-text"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="card-header warning-color white-text text-center"><strong>
                                        NÃO HÁ ENCAMINHAMENTOS REGISTRADOS</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for encaminhamento in encaminhamentos %}
        <!--Modal PROVIDÊNCIAS-->
        <div class="modal fade" id="Providencia{{ encaminhamento.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="modal-title white-text w-100 font-bold py-2">
                            Providências adotadas</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form action="{% url 'encaminhamento_providencia' encaminhamento.id %}"
                              method="POST">
                            {% csrf_token %}
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <div class="md-form">
                                        <textarea type="text" id="id_providencias" name="providencias"
                                                  class="md-textarea form-control validate" rows="3"
                                                  required></textarea>
                                        <label for="id_providencias">Providências adotadas</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-success waves-effect">
                                    Confirmar
                                </button>
                                <a type="button"
                                   class="btn btn-outline-success waves-effect"
                                   data-dismiss="modal">
                                    Voltar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal PROVIDÊNCIAS-->
    {% endfor %}

    <!--Modal TURMA-->
    <div class="modal fade" id="ModalRegistrarEncaminhamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Registrar encaminhamento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'encaminhamento_new' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectTurma" id="SelectTurma"
                                    class="mdb-select md-form colorful-select dropdown-success"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a turma</option>
                                {% for c in cursos %}
                                    {% if c.retorna_turmas %}
                                        <optgroup label="{{ c.descricao }}">
                                            {% for t in c.retorna_turmas %}
                                                <option value={{ t.id }}>{{ t.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="SelectTurma">Turma</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary waves-effect">Enviar</button>
                            <a type="button" class="btn btn-outline-primary"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
{% endblock %}