{% extends 'base.html' %}
{% block class_inicio_menu %}active{% endblock %}

{% block content %}
    <!--Section: Features v.2-->
    <section class="feature-box">
        <!--Section heading-->
        <h1 class="font-weight-bold text-center">SGE - Gestão Estudantil</h1>
        <!--Section description-->
        <p class="px-5 mb-5 lead grey-text text-center">
            Sistema informatizado para gestão estudantil - CAED/DEPAE
        </p>
        <br><br>
        <!--Grid row-->
        <div class="row features-small">

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-bullhorn blue-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Avisos</h4>
                    <p class="grey-text">Todos os envolvidos nos registros feitos no sistema serão
                        notificados via e-mail.</p>
                    <a data-toggle="modal" href="#ModalAviso" class="btn btn-rounded btn-primary btn-sm ml-0">Saiba mais</a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-cog orange-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Recursos</h4>
                    <p class="grey-text">Emissão das Ocorrências Disciplinares,
                        Encaminhamentos e Autorizações de Saída.</p>
                    <a data-toggle="modal" href="#ModalUserExperience" class="btn btn-rounded btn-warning btn-sm ml-0">Saiba
                        mais</a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-area-chart green-text"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Relatórios</h4>
                    <p class="grey-text">Emissão de relatórios personalizados.
                        Informação rápida e precisa.</p>
                    <a data-toggle="modal" href="#ModalRelatorio" class="btn btn-rounded btn-success btn-sm ml-0">Saiba mais</a>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Features v.2-->


{% endblock %}
{% block footer %}

{% endblock %}

{% block modal %}
    <!-- Modal AVISO -->
    <div class="modal fade" id="ModalAviso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Notificação via e-mails</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="text-justify">
                        <p>
                            Seja <strong>ocorrência disciplinar</strong>,<strong> encaminhamento para serviço da equipe
                            multidisciplinar da CAED</strong> ou <strong>autorização de saída</strong> o sistema irá
                            notificar, via <strong>e-mail institucional</strong>, todos os envolvidos.
                        </p>
                        <p>
                            Caso o registro seja para mais de um aluno, os e-mails serão enviados de forma individual.
                        </p>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-rounded btn-primary waves-effect" data-dismiss="modal">Fechar</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Fim do Modal AVISO-->

    <!-- Modal USER EXPERIENCE -->
    <div class="modal fade" id="ModalUserExperience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Recursos</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="text-justify">
                        <p>
                            <strong>Ocorrência disciplinar:</strong> Registre as ocorrências disciplinares,
                            conforme Regulamento Disciplinar Discente (Resolução 01/2017).</p>
                        <p><strong>Encaminhamento:</strong> Encaminhe seus alunos para equipe multidisciplinar da
                            CAED/DEPAE conforme área de atuação do profissional da equipe.</p>
                        <p><strong>Autorização de saída:</strong> A CAED/DEPAE autoriza o estudante a deixar o <em>Campus</em>
                            e o vigia tem, na guarita, diretamente no sistema, a o nome do estudante e a data que ele
                            está autorizado a sair. O vigia registra o momento da saída e a CAED/DEPAE é avisada via
                            e-mail.
                        </p>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-rounded btn-warning waves-effect" data-dismiss="modal">Fechar</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Fim do Modal USER EXPERIENCE-->

    <!-- Modal RELATÓRIO -->
    <div class="modal fade" id="ModalRelatorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Emissão de relatórios</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="text-justify">
                        <p>
                            Com base nos registros feitos é possível emitir diversos relatórios gerenciais que
                            podem subsidiar a tomada de decisões relativas à abordagens individuais ou coletivas.
                        </p>
                        <p>
                            Além de proporcionar, rapidamente, informações precisas sobre a situação de cada
                            aluno, turma ou curso.
                        </p>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-rounded btn-success waves-effect" data-dismiss="modal">Fechar</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Fim do Modal RELATÓRIO-->

{% endblock %}