{% extends 'base.html' %}
{% block title %}Matrículas{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_matricula_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Matrículas</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    MATRÍCULAS
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="float-right">
                                {#                                <a href="{% url 'matricula_new' %}" class="btn btn-rounded btn-block btn-success"><i class="fa fa-plus"></i>#}
                                {#                                    Novo#}
                                {#                                    Registro</a>#}
                                <a href="{% url 'import_matricula' %}" class="btn btn-block btn-info"
                                   data-toggle="tooltip"
                                   data-placement="top" title="Importar XLS"><i
                                        class="fa fa-arrow-circle-down"></i>
                                    Importar</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">#</th>
                                <th style="font-weight: bold">Curso</th>
                                <th style="font-weight: bold">Turma</th>
                                <th style="font-weight: bold">Aluno(a)</th>
                                <th style="text-align:right; font-weight: bold">Ano Letivo</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for matricula in matriculas %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ matricula.id }}</td>
                                    <td style="vertical-align: middle;">{{ matricula.turma.curso }}</td>
                                    <td style="vertical-align: middle;">{{ matricula.turma.descricao }}</td>
                                    <td style="vertical-align: middle;">{{ matricula.aluno }}</td>
                                    <td style="text-align: right; vertical-align: middle;">{{ matricula.ano_letivo }}</td>
                                    <td class="px-0 py-0" style="vertical-align: middle; text-align: right">
                                            <a href="{% url 'matricula_edit' matricula.id %}"><i
                                        class="fa fa-pencil fa-2x orange-text" title="Editar"
                                        data-toggle="tooltip" data-placement="top"></i>
                                            </a>

                                            <a data-toggle="modal" href="#Excluir{{ matricula.id }}"><i
                                            class="fa fa-trash fa-2x red-text" title="Excluir"
                                            data-toggle="tooltip" data-placement="top"></i>
                                            </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="card-header warning-color white-text text-center">Sem alunos
                                        matriculados
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--Pagination -->
                    <nav aria-label="pagination example">
                        <ul class="pagination justify-content-center pagination-circle pg-blue mb-0">

                            {% if matriculas.has_previous %}
                                <li class="page-item">
                                    <a href="?page=1"
                                       class="page-link">Primeira</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link">Primeira</a></li>
                            {% endif %}

                            <!--Arrow left-->
                            {% if matriculas.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ matriculas.previous_page_number }}" class="page-link"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span>&laquo;</span></li>
                            {% endif %}

                            <!--Numbers-->
                            {% for i in matriculas.paginator.page_range %}
                                {% if matriculas.number == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% else %}
                                    {% if i <= matriculas.number|add:5 and i >= matriculas.number|add:-5 %}
                                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <!--Arrow right-->
                            {% if matriculas.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ matriculas.next_page_number }}" class="page-link"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Próxima</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span>&raquo;</span></li>
                            {% endif %}

                            <!--Last-->
                            {% if matriculas.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ matriculas.paginator.num_pages }}"
                                       class="page-link">Última</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link">Última</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    {% for matricula in matriculas %}
        <!--Modal EXCLUIR-->
        <div class="modal fade" id="Excluir{{ matricula.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="heading lead">Excluir</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'matricula_delete' matricula.id %}" method="POST">
                        <!--Body-->
                        <div class="modal-body text-center">
                            {% csrf_token %}
                            Tem certeza que deseja excluir?
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-rounded btn-danger waves-effect"> Confirmar</button>
                            <a type="button" class="btn btn-rounded btn-outline-danger waves-effect"
                               data-dismiss="modal">
                                Voltar
                            </a>
                        </div>
                    </form>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal EXCLUIR-->

    {% endfor %}
{% endblock %}
