{% extends 'base.html' %}
{% block title %}Ocorrências disciplinares{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_ocorrencia_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Ocorrências</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    OCORRÊNCIAS DISCIPLINARES
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-10">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="float-right">
                                <a data-toggle="modal" href="#ModalRegistrarOcorrencia"
                                   class="btn btn-rounded btn-block btn-success"><i
                                        class="fa fa-plus"></i> Adicionar</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped btn-table">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">#</th>
                                <th style="font-weight: bold">Data</th>
                                <th style="font-weight: bold">Aluno</th>
                                <th style="font-weight: bold">Descrição</th>
                                <th style="text-align: center; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for ocorrencia in ocorrencias %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ ocorrencia.id }}/{{ ocorrencia.created_at|date:"Y" }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.data }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.matricula.aluno }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.descricao|truncatechars:50 }}</td>
                                    <td class="px-0 py-0" style="vertical-align: middle; text-align: right; min-width: 110px; width: 110px">

                                        <i data-toggle="tooltip" data-placement="top" title="Visualizar">
                                            <a href="{% url 'ocorrencia_show' ocorrencia.id %}"
                                               class="btn-floating btn-sm info-color"><i class="fa fa-search"></i>
                                            </a>
                                        </i>

                                        <i data-toggle="tooltip" data-placement="top" title="Excluir">
                                            <a data-toggle="modal" href="#Excluir{{ ocorrencia.id }}"
                                               class="btn-floating btn-sm btn-danger"
                                               title="Excluir"><i class="fa fa-trash"></i>
                                            </a>
                                        </i>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="6" class="card-header warning-color white-text text-center"><strong>
                                        NÃO HÁ OCORRÊNCIAS REGISTRADAS</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% for ocorrencia in ocorrencias %}
        <!--Modal EXCLUIR-->
        <div class="modal fade" id="Excluir{{ ocorrencia.id }}" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4 class="heading lead">Excluir</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form action="{% url 'ocorrencia_delete' ocorrencia.id %}"
                              method="POST">
                            {% csrf_token %}
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <p>Tem certeza que deseja excluir?</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-rounded btn-danger waves-effect">
                                    Confirmar
                                </button>
                                <a type="button"
                                   class="btn btn-rounded btn-outline-danger waves-effect"
                                   data-dismiss="modal">
                                    Voltar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Fim Modal EXCLUIR-->
    {% endfor %}
    <!--Modal TURMA-->
    <div class="modal fade" id="ModalRegistrarOcorrencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Registrar ocorrência disciplinar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'ocorrencia_new' %}" method="POST">
                        {% csrf_token %}
                            <select name="SelectTurma" id="SelectTurma"
                                    class="mdb-select md-form colorful-select dropdown-success"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a turma</option>
                                {% for c in cursos %}
                                    {% if c.retorna_turmas %}
                                        <optgroup label="{{ c.descricao }}">
                                            {% for t in c.retorna_turmas %}
                                                <option value={{ t.id }}>{{ t.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="SelectTurma">Turma</label>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-success waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-success"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
{% endblock %}