{% extends 'base.html' %}
{% block title %}Ocorrências - SGE - Gestão Estudantil{% endblock %}
{% block class_registros_menu %}active{% endblock %}
{% block class_registros_ocorrencia_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Ocorrências</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">                 <div class="card-header redonda grey lighten-1 font-weight-bold">
                    OCORRÊNCIAS DISCIPLINARES - {{ aluno.nome }}
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a href="{% url 'report_ocorrencia_aluno' aluno.id %}" class="btn btn-rounded btn-block btn-danger"><i
                                        class="fa fa-print"></i> Imprimir</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped btn-table">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">#</th>
                                <th style="font-weight: bold">Data</th>
                                <th colspan="2" style="font-weight: bold">Infração</th>
                                <th style="font-weight: bold">Descrição</th>
                                <th style="font-weight: bold">Responsável</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for ocorrencia in ocorrencias %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ ocorrencia.id }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.data }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.falta.categoria }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.falta.descricao|truncatechars:40 }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.descricao|truncatechars:40 }}</td>
                                    <td style="vertical-align: middle;">{{ ocorrencia.user|truncatechars:20 }}</td>
                                    <td style="vertical-align: middle; text-align: right">

                                        <a href="{% url 'ocorrencia_show' ocorrencia.id %}"
                                           class="btn-floating btn-sm info-color"
                                           data-toggle="tooltip" data-placement="top" title="Visualizar"><i
                                                class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="7" class="card-header warning-color white-text text-center"><strong>
                                        NÃO HÁ OCORRÊNCIAS REGISTRADAS</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer font-weight-bold">
                    <span class="float-left">
                        {% for i in count_ocorrencias %}
                            {{ i.falta__categoria__descricao }}: {{ i.qtde }}<br>
                        {% endfor %}
                    </span>
                    <span class="float-right">
                        TOTAL: {{ ocorrencias.count }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}