{% extends 'base.html' %}
{% block title %}Ocorrências disciplinares{% endblock %}
{% block class_ocorrencia_menu %}active{% endblock %}
{% block class_ocorrencia_ocorrencia_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'ocorrencia' %}">Ocorrências</a></li>
        <li class="breadcrumb-item active">Registrar ocorrência</li>
    </ol>
{% endblock %}

{% block content %}
    <form action="{% url 'ocorrencia_register' %}" method="POST" onsubmit='disableButton()'>
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header grey lighten-1 font-weight-bold">
                        <div class="float-left">
                            Curso: {{ turma.curso.descricao|upper }}<br>
                            <span class="float-lg-left">Turma: {{ turma.descricao }} - {{ turma.turno }}</span>
                            <span class="float-right">Ano Letivo: {{ ano }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="md-form form-group md-outline">
                            <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                            <label for="myInput">Pesquisar aluno...</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <tbody id="myTable">
                                {% for m in matriculas %}
                                    <tr>
                                        <th scope="row" class="p-0" style="vertical-align: bottom; text-align: center">
                                            <input class="form-check-input" type="checkbox" id="id_{{ m.id }}"
                                                   value="{{ m.id }}"
                                                   name="mat_{{ m.aluno.id }}">
                                            <label for="id_{{ m.id }}" class="label-table"></label>
                                            {#                                            </form>#}
                                        </th>
                                        <td>{{ m.aluno }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td class="card-header warning-color white-text text-center"><strong>NÃO HÁ
                                            ALUNOS PARA TURMA SELECIONADA</strong></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header grey lighten-1 font-weight-bold">
                        DADOS DA OCORRÊNCIA DISCIPLINAR
                    </div>
                    <div class="card-body">
                        <input type="hidden" value="{{ turma.id }}" name="turma">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="md-form md-outline">
                                    <label>{{ form.data.label }}</label>
                                    {{ form.data }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="md-form md-outline">
                                    <label>{{ form.disciplina.label }}</label>
                                    {{ form.disciplina }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12 select-outline">
                                <select name="SelectFalta" id="SelectFalta"
                                        class="mdb-select md-outline md-form colorful-select dropdown-success"
                                        searchable="Pesquisar..."
                                        required>
                                    <option value="" disabled selected>Selecione a falta</option>
                                    {% for c in categorias %}
                                        <optgroup label="ART. {{ c.artigo }} - {{ c.descricao|upper }}">
                                            {% for f in c.retorna_faltas %}
                                                <option value={{ f.id }}>{{ f.inciso }} - {{ f.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                                <label for="SelectFalta">Falta</label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="md-form md-outline">
                                    <label>{{ form.descricao.label }}</label>
                                    {{ form.descricao }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button id="btn_enviar" type="submit" class="btn btn-success">REGISTRAR</button>
                                    <a href="{% url 'ocorrencia' %}" class="btn btn-danger">CANCELAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}