{% extends 'base.html' %}
{% block title %}Conselho de classe{% endblock %}
{% block class_conselho_menu %}active{% endblock %}
{% load humanize %}
{% load static %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    a:link {text-decoration: none;}
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Conselho de classe</li>
    </ol>
{% endblock %}

{% block content %}
    {% for curso in cursos %}
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="card redonda">
                    <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                        {{ curso.descricao }}
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-wrap">
                        {% for turma in curso.retorna_turmas %}
                            <a class="btn btn-outline-success btn-rounded waves-effect" type="button" href="{% url 'perfil_turma' turma.id %}">{{ turma.descricao }}</a><br>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}