{% extends 'base.html' %}
{% block title %}Perfil do Estudante - SGE - Gestão Estudantil{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_aluno_item %}collapsible-header active{% endblock %}
{% load humanize %}
{% load static %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    a:link {text-decoration: none;}
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'perfil' %}">Perfil</a></li>
        <li class="breadcrumb-item active">Perfil aluno - {{ aluno.nome }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col-sm-9">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                    Dados do estudante
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <p><strong>Nome: </strong>{{ aluno.nome }}</p>
                            <p><strong>E-mail: </strong>{{ aluno.email }}</p>
                            <p><strong>Responsável: </strong>{{ aluno.responsavel }}</p>
                            <p><strong>E-mail: </strong>{{ aluno.email_responsavel }}</p>
                        </div>


                        <div class="col-sm-4">
                            <div class="text-center" style="width: 200px">
                                {% if aluno.foto %}
                                    <img src="{{ aluno.foto.url }}" style="width: 80%">
                                {% else %}
                                    <img src="{% static 'img/avatar.png' %}" style="width: 80%">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col-sm-3">
            <!--Card-->
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                    <p class="float-left m-0">
                        Indicadores
                    </p>
                </div>
                <div class="card-body">
                    <p class="border-bottom">
                        Autorizações
                        <span class="badge badge-warning badge-pill pull-right">
                            {% if aluno.count_autorizacoes %}
                                {% for i in aluno.count_autorizacoes %}
                                    {% if not i.qtde %}
                                        0
                                    {% else %}
                                        {{ i.qtde }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </p>
                    <p class="border-bottom">
                        Encaminhamentos
                        <span class="badge badge-primary badge-pill pull-right">
                            {% if aluno.count_encaminhamento %}
                                {% for i in aluno.count_encaminhamento %}
                                    {% if not i.qtde %}
                                        0
                                    {% else %}
                                        {{ i.qtde }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </p>
                    <p class="border-bottom">
                        Ocorrências
                        <span class="badge ifro-color badge-pill pull-right">
                            {% if aluno.count_ocorrencia %}
                                {% for i in aluno.count_ocorrencia %}
                                    {% if not i.qtde %}
                                        0
                                    {% else %}
                                        {{ i.qtde }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if aluno.perfil_ocorrencias_categoria %}
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="card redonda">
                    <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                        <p class="float-left m-0">
                            Ocorrências
                        </p>
                        <a href="{% url 'ocorrencia_relatorio' aluno.id %}" class="float-right m-0"> VER MAIS</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="font-weight-bold">Por categoria</p>
                                <div id="grafico_ocorrencia_categoria"></div>
                            </div>

                            <hr class="w-100 clearfix d-md-none">

                            <div class="col-sm-8">
                                <p class="font-weight-bold">Por mês</p>
                                <div id="ocorrencia_mes"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--ENCAMINHAMENTOS-->
    {% if aluno.perfil_encaminhamentos_categoria %}
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="card redonda">
                    <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                        <p class="float-left m-0">
                            Encaminhamentos
                        </p>
                        <a href="{% url 'encaminhamento_relatorio' aluno.id %}" class="float-right m-0"> VER MAIS</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Por categoria</p>
                                <div id="categoria_encaminhamento"></div>
                            </div>
                            <hr class="w-100 clearfix d-md-none">
                            <div class="col-sm-6">
                                <p class="font-weight-bold">Por status</p>
                                <div id="status_encaminhamento"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- AUTORIZAÇÕES DE SAÍDA POR MÊS -->
    {% if aluno.perfil_autorizacoes_mes %}
        <div class="row mb-4">
            <div class="col-sm-12">
                <div class="card redonda">
                    <div class="card-header redonda grey lighten-1 font-weight-bold text-uppercase">
                        <p class="float-left m-0">
                            Autorizações de saídas
                        </p>
                        <a href="{% url 'autorizacao_relatorio' aluno.id %}" class="float-right m-0"> VER MAIS</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="saida_mes"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <!--OCORRÊNCIAS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ aluno.perfil_ocorrencias_categoria|safe }});

            var options = {
                pieSliceText: 'percentage',
                legend: {
                    position: 'right',
                    alignment: 'center'
                },
                chartArea: {
                    left: 15,
                    top: 15,
                    right: 0,
                    bottom: 10
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('grafico_ocorrencia_categoria'));

            chart.draw(data, options);
        }
    </script>

    <!--ENCAMINHAMENTOS-->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ aluno.perfil_encaminhamentos_categoria|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('categoria_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <!-- STATUS ENCAMINHAMENTO -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Encaminhamentos');
            data.addRows({{ aluno.perfil_encaminhamentos_status|safe }});

            var options = {
                chartArea: {
                    top: 10,
                    bottom: 10,
                    widht: '100%',
                },
                legend: {
                    position: 'right',
                    alignment: 'center'
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('status_encaminhamento'));

            chart.draw(data, options);
        }
    </script>

    <!-- GRÁFICO OCORRÊNCIAS POR MÊS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mês');
            data.addColumn('number', 'Ocorrências');
            data.addRows({{ aluno.perfil_ocorrencias_mes|safe }});

            var options = {
                curveType: 'function',
                legend: 'none',
                pointSize: 7,
                lineWidth: 3,
                chartArea: {
                    top: 10,
                    bottom: 20,
                    {#widht: '100%',#}
                    {#height: '100%'#}
                },
                series: {
                    0: {
                        color: '#2f9e41'
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('ocorrencia_mes'));

            chart.draw(data, options);
        }
    </script>

    <!-- GRÁFICO AUTORIZAÇÕES DE SAÍDA POR MÊS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mês');
            data.addColumn('number', 'Saídas');
            data.addRows({{ aluno.perfil_autorizacoes_mes|safe }});

            var options = {
                curveType: 'function',
                legend: 'none',
                pointSize: 7,
                lineWidth: 3,
                chartArea: {
                    top: 10,
                    bottom: 20,
                    {#widht: '100%',#}
                    {#height: '100%'#}
                },
                series: {
                    0: {
                        color: '#2f9e41'
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('saida_mes'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}