{% extends 'base.html' %}
{% block title %}Relatório de Autorizações de saída por Turma - SGE - Gestão Estudantil{% endblock %}
{% block class_relatorio_menu %}active{% endblock %}
{% load static %}
{% load humanize %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    a:link {text-decoration: none;}
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'report_general' %}">Relatório Geral</a></li>
        <li class="breadcrumb-item active">Relatório de Autorizações de saída por Turma</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#" onclick="window.print(); return false;" class="btn-floating btn-lg danger-color">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ request.user.userprofile.empresa.razao_social|upper }}<br>
                                {{ request.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                <br>
                                RELATÓRIO DE AUTORIZAÇÕES DE SAÍDA POR TURMA - {{ ano }}<br>
                                {{ turma }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <tbody>
                        {% if autorizacoes %}
                            <tr>
                                <td colspan="3">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                        <tr>
                                            <th style="font-weight: bold">Aluno</th>
                                            <th style="font-weight: bold; text-align: right">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for o in alunos %}
                                            {% for i in o.aluno.count_autorizacoes %}
                                                {% if i %}
                                                    <tr>
                                                    <td style="vertical-align: middle">
                                                        <a href="{% url 'report_autorizacao_saida_aluno' i.matricula__aluno_id %}">
                                                            {{ i.matricula__aluno__nome }}
                                                        </a>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}

                                        {% for i in o.aluno.count_autorizacoes %}
                                            {% if i %}
                                                <td style="vertical-align: middle; text-align: right">{{ i.qtde }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% else %}
                            <div class="card">
                                <div class="card-header warning-color white-text text-center">
                                    <strong>TURMA SEM AUTORIZAÇÕES DE SAÍDA REGISTRADAS NO ANO BASE {{ ano }}</strong>
                                </div>
                            </div>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p class="float-right font-bold">
                                TOTAL: {{ total.count }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type='text/javascript'>
        $("document").ready(function () {
            toastr["info"]("Clique no nome do aluno para o detalhamento.")
        });
    </script>
{% endblock %}