<!DOCTYPE html>
{% load  static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%" style="padding: 10px;">
    <tbody>
    <tr style="font-weight: bold; font-size: 14px">
        <td colspan="3" style="text-align: center; vertical-align: middle">
            <img src="{{ aluno.empresa.logo.url }}" width="100px"><br>
            MINISTÉRIO DA EDUCAÇÃO<br>
            SECRETARIA DE EDUCAÇÃO PROFISSIONAL E TECNOLÓGICA<br>
            {{ aluno.empresa.razao_social|upper }}<br>
            <em>CAMPUS </em>{{ aluno.empresa|upper }}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center; font-weight: bold; font-size: 12px">
            <br>
            <h1 class="font-weight-bold">DECLARAÇÃO</h1>
            <br>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="font-size: 14px">
            <p style="text-align: justify; text-indent: 50px">
                Declaramos que {{ aluno.nome }}, nascido(a) em {{ aluno.nascimento }}, portador(a) do
                RGº {{ aluno.rg }} {{ aluno.emissor }}, CPF nº {{ aluno.cpf }}, matrícula
                nº {{ aluno.numero_matricula }} está devidamente MATRICULADO(A), nesta Instituição Federal de Ensino, na
                turma {{ matricula.turma.descricao }} do curso {{ matricula.turma.curso.descricao|upper }}.
            </p>

            <p style="text-align: justify; text-indent: 50px">
                Essa declaração tem validade de 90 (noventa) dias a contar da sua data de emissão.
            </p>
            <br>
            <p style="text-align: right;">
                {{ aluno.empresa.cidade }}/{{ aluno.empresa.uf }}, {{ data }}.
            </p>
            <br>
            <p style="text-align: center;">
                <strong>{{ usuario.first_name }}</strong><br>SIAPE:{{ usuario.userprofile.siape }}
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>