{% extends 'base.html' %}
{% block title %}Relatório de Encaminhamentos por Aluno - {{ aluno.nome }} - SGE - Gestão Estudantil{% endblock %}
{% block class_relatorio_menu %}active{% endblock %}
{% load static %}
{% load humanize %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Relatório Geral</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#" onclick="window.print(); return false;" class="btn-floating btn-lg danger-color">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ request.user.userprofile.empresa.razao_social|upper }}<br>
                                {{ request.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                <br>
                                RELATÓRIO DE ENCAMINHAMENTOS POR ALUNO - {{ ano }}<br>
                                {{ aluno }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td colspan="3">
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2" style="font-weight: bold">Dados do encaminhamento</th>
                                        <th style="width: 400px; font-weight: bold">Providências do setor responsável</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for encaminhamento in encaminhamentos %}
                                        <tr>
                                            <td>
                                                <p>
                                                    <strong>{{ encaminhamento.data }}<br>{{ encaminhamento.servico }}
                                                    </strong><br>{{ encaminhamento.descricao }}
                                                </p>
                                            </td>
                                            <td>
                                                {% if encaminhamento.outras_informacoes %}
                                                    <p>
                                                        <strong>Outras informações</strong><br>
                                                        {{ encaminhamento.outras_informacoes }}
                                                    </p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <p>
                                                    {% if encaminhamento.providencias %}
                                                        {{ encaminhamento.providencias }}<br>
                                                        <strong>Responsável: {{ encaminhamento.responsavel_providencias }}</strong>
                                                    {% else %}
                                                        Aguardando providências do setor responsável.
                                                    {% endif %}
                                                </p>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6" class="card-header warning-color white-text text-center">
                                                <strong>
                                                    NÃO HÁ ENCAMINHAMENTOS REGISTRADOS</strong>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p class="float-right font-bold">
                                TOTAL: {{ total.count }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}