{% extends 'base.html' %}
{% block title %}Relatórios Gerais - SGE - Gestão Estudantil{% endblock %}
{% block class_relatorio_menu %}active{% endblock %}


{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Relatório Geral</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="form-row">
        <div class="col">
            <div class="card">
                <div class="card-header btn-warning white-text">
                    AUTORIZAÇÕES DE SAÍDAS
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <a data-toggle="modal" href="#ModalRegistrarAutorizacaoSaidaAluno"
                               class="btn btn-rounded btn-warning btn-block">
                                <i class="fa fa-user"></i> Aluno
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarAutorizacaoSaidaCurso"
                               class="btn btn-rounded btn-warning btn-block">
                                <i class="fa fa-industry"></i> Curso
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarAutorizacaoSaidaTurma"
                               class="btn btn-rounded btn-warning btn-block">
                                <i class="fa fa-graduation-cap"></i> Turma
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col">
            <div class="card">
                <div class="card-header primary-color-dark white-text">
                    ENCAMINHAMENTOS
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <a data-toggle="modal" href="#ModalRegistrarEncaminhamentoAluno"
                               class="btn btn-rounded primary-color-dark btn-block">
                                <i class="fa fa-user"></i> Aluno
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarEncaminhamentoCurso"
                               class="btn btn-rounded primary-color-dark btn-block">
                                <i class="fa fa-industry"></i> Curso
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarEncaminhamentoTurma"
                               class="btn btn-rounded primary-color-dark btn-block">
                                <i class="fa fa-graduation-cap"></i> Turma
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">

        <div class="col">
            <div class="card">
                <div class="card-header ifro-color white-text">
                    OCORRÊNCIAS DISCIPLINARES
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <a data-toggle="modal" href="#ModalRegistrarOcorrenciaAluno"
                               class="btn btn-rounded ifro-color btn-block">
                                <i class="fa fa-user"></i> Aluno
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarOcorrenciaCurso"
                               class="btn btn-rounded ifro-color btn-block">
                                <i class="fa fa-industry"></i> Curso
                            </a>

                            <a data-toggle="modal" href="#ModalRegistrarOcorrenciaTurma"
                               class="btn btn-rounded ifro-color btn-block">
                                <i class="fa fa-graduation-cap"></i> Turma
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <!--Modal ALUNO OCORRÊNCIA-->
    <div class="modal fade" id="ModalRegistrarOcorrenciaAluno" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Ocorrências por aluno</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'ocorrencia_relatorio_aluno' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectAlunoOcorrencia" id="SelectAlunoOcorrencia"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o Aluno</option>
                                {% for a in alunos %}
                                    <option value={{ a.id }}>{{ a.nome }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectAlunoOcorrencia">Lista de alunos</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal CURSO OCORRÊNCIA-->
    <div class="modal fade" id="ModalRegistrarOcorrenciaCurso" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Ocorrências por Curso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_ocorrencia_curso' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectCursoOcorrencia" id="SelectCursoOcorrencia"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o curso</option>
                                {% for c in cursos %}
                                    <option value={{ c.id }}>{{ c.descricao }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectCursoOcorrencia">Curso</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal TURMA OCORRÊNCIA-->
    <div class="modal fade" id="ModalRegistrarOcorrenciaTurma" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Ocorrências por Turma</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_ocorrencia_turma' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectTurmaOcorrencia" id="SelectTurmaOcorrencia"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a turma</option>
                                {% for c in cursos %}
                                    {% if c.retorna_turmas %}
                                        <optgroup label="{{ c.descricao }}">
                                            {% for t in c.retorna_turmas %}
                                                <option value={{ t.id }}>{{ t.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="SelectTurmaOcorrencia">Turma</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal ALUNO ENCAMINHAMENTO-->
    <div class="modal fade" id="ModalRegistrarEncaminhamentoAluno" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Encaminhamentos por Aluno</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'encaminhamento_relatorio_aluno' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectAlunoEncaminhamento" id="SelectAlunoEncaminhamento"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o aluno</option>
                                {% for a in alunos %}
                                    <option value={{ a.id }}>{{ a.nome }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectAlunoEncaminhamento">Lista de alunos</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal CURSO ENCAMINHAMENTO-->
    <div class="modal fade" id="ModalRegistrarEncaminhamentoCurso" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Encaminhamentos por Curso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_encaminhamento_curso' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectCursoEncaminhamento" id="SelectCursoEncaminhamento"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o curso</option>
                                {% for c in cursos %}
                                    <option value={{ c.id }}>{{ c.descricao }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectCursoEncaminhamento">Curso</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal TURMA ENCAMINHAMENTO-->
    <div class="modal fade" id="ModalRegistrarEncaminhamentoTurma" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Encaminhamentos por Turma</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_encaminhamento_turma' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectTurmaEncaminhamento" id="SelectTurmaEncaminhamento"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a turma</option>
                                {% for c in cursos %}
                                    {% if c.retorna_turmas %}
                                        <optgroup label="{{ c.descricao }}">
                                            {% for t in c.retorna_turmas %}
                                                <option value={{ t.id }}>{{ t.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="SelectTurmaEncaminhamento">Turma</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal ALUNO AUTORIZAÇÃO DE SAÍDA-->
    <div class="modal fade" id="ModalRegistrarAutorizacaoSaidaAluno" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Autorizações de saída por Aluno</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'autorizacao_relatorio_aluno' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectAlunoAutorizacao" id="SelectAlunoAutorizacao"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o aluno</option>
                                {% for a in alunos %}
                                    <option value={{ a.id }}>{{ a.nome }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectAlunoAutorizacao">Lista de alunos</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal CURSO AUTORIZAÇÃO SAÍDA-->
    <div class="modal fade" id="ModalRegistrarAutorizacaoSaidaCurso" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Autorizações de saída por Curso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_autorizacao_saida_curso' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectCursoAutorizacaoSaida" id="SelectCursoAutorizacaoSaida"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione o curso</option>
                                {% for c in cursos %}
                                    <option value={{ c.id }}>{{ c.descricao }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectCursoAutorizacaoSaida">Curso</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal TURMA AUTORIZAÇÃO DE SAÍDA-->
    <div class="modal fade" id="ModalRegistrarAutorizacaoSaidaTurma" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-bold py-2">Autorizações de saída por Turma</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <form action="{% url 'report_autorizacao_saida_turma' %}" method="POST">
                        {% csrf_token %}
                        <div class="md-form">
                            <select name="SelectTurmaAutorizacaoSaida" id="SelectTurmaAutorizacaoSaida"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a turma</option>
                                {% for c in cursos %}
                                    {% if c.retorna_turmas %}
                                        <optgroup label="{{ c.descricao }}">
                                            {% for t in c.retorna_turmas %}
                                                <option value={{ t.id }}>{{ t.descricao }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="SelectTurmaAutorizacaoSaida">Turma</label>
                        </div>
                        <br>
                        <!--Footer-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-rounded btn-primary-modal waves-effect">Enviar</button>
                            <a type="button" class="btn btn-rounded btn-outline-secondary-modal"
                               data-dismiss="modal">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
{% endblock %}