{% extends 'base.html' %}
{% block title %}Relatórios{% endblock %}
{% block class_relatorio_menu %}active{% endblock %}
{% load static %}
{% load humanize %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'report_general' %}">Relatórios Gerais</a></li>
        <li class="breadcrumb-item active">Relatório de Ocorrências por Curso</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#" onclick="window.print(); return false;" class="btn-floating btn-lg btn-danger">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ request.user.userprofile.empresa.razao_social|upper }}<br>
                                <em>CAMPUS </em>{{ request.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                <br>
                                RELATÓRIO DE OCORRÊNCIAS POR CURSO - {{ ano}}<br>
                                {{ curso }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <tbody>
                        {% if ocorrencias %}
                            <tr>
                                <td colspan="3">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                        <tr>
                                            <th style="font-weight: bold">Turma</th>
                                            <th style="font-weight: bold; text-align: center">Detalhamento</th>
                                            <th style="font-weight: bold; text-align: right">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for o in turmas %}
                                            {% for i in o.count_ocorrencia %}
                                                {% if i %}
                                                    <tr>
                                                    <td style="vertical-align: middle">{{ curso.descricao }} - {{ i.matricula__turma__descricao }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        {% if o.count_cat_ocorrencia %}
                                            <td style="vertical-align: middle">
                                                <div class="row">
                                                {% for i in o.count_cat_ocorrencia %}
                                                    {% if i %}
                                                        <div class="col">
                                                        {{ i.falta__categoria__descricao }}: {{ i.qtde }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>
                                            </td>
                                        {% endif %}


                                        {% for i in o.count_ocorrencia %}
                                            {% if i %}
                                                <td style="vertical-align: middle; text-align: right">{{ i.qtde }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% else %}
                            <div class="card">
                                <div class="card-header warning-color white-text text-center">
                                    <strong>CURSO SEM OCORRÊNCIAS REGISTRADAS NO ANO BASE {{ ano }}</strong>
                                </div>
                            </div>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        {% for o in cat %}
                            <div class="col">
                                <p class="float-left font-bold">
                                    {{ o.falta__categoria__descricao }}: {{ o.qtde }}
                                </p>
                            </div>
                        {% endfor %}
                        <div class="col">
                            <p class="float-right font-bold">
                                TOTAL: {{ total.count }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}