{% extends 'base.html' %}
{% block title %}Relatórios{% endblock %}
{% block class_relatorio_menu %}active{% endblock %}
{% load static %}
{% load humanize %}

{% block style %}
    @media print {
    #slide-out, #icon-bar, #div-menu, #breadcrumb, #footer, #bread, #div-buttons { display: none; }
    }
{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4" id="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'report_general' %}">Relatório Geral</a></li>
        <li class="breadcrumb-item active">Relatório de Ocorrências por Aluno</li>
    </ol>
{% endblock %}

{% block content %}
    <div id="div-buttons" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a href="#" onclick="window.print(); return false;" class="btn-floating btn-lg btn-danger">
            <i class="fa fa-print"></i>
        </a>
    </div>
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td class="text-center align-middle">
                                <img src="{% static 'img/logo_ifro.png' %}" width="100">
                            </td>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                MINISTÉRIO DA EDUCAÇÃO<br>
                                {{ request.user.userprofile.empresa.razao_social|upper }}<br>
                                <em>CAMPUS </em>{{ request.user.userprofile.empresa|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center font-weight-bold align-middle">
                                <br>
                                RELATÓRIO DE OCORRÊNCIAS DISCIPLINARES POR ALUNO - {{ ano }}<br>
                                {{ aluno }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <tbody>
                        <tr>
                            <td colspan="3">
                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th style="font-weight: bold">Classificação da ocorrência disciplinar</th>
                                        <th style="font-weight: bold">Dados da ocorrência disciplinar</th>
                                        <th style="width: 250px;font-weight: bold; text-align: right">Resgistrado por
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ocorrencia in ocorrencias %}
                                        <tr>
                                            <td>
                                                <strong>Art. {{ ocorrencia.falta.categoria.artigo }}
                                                    - {{ ocorrencia.falta.categoria }}</strong><br>{{ ocorrencia.falta.inciso }}
                                                - {{ ocorrencia.falta.descricao }}
                                            </td>
                                            <td>
                                                <strong>{{ ocorrencia.data }}</strong><br>{{ ocorrencia.descricao }}
                                            </td>
                                            <td style="text-align: right;width: 250px; vertical-align: middle">
                                                {{ ocorrencia.user }}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6" class="card-header warning-color white-text text-center">
                                                <strong>
                                                    NÃO HÁ OCORRÊNCIAS DISCIPLINARES REGISTRADAS</strong>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <p class="float-right font-bold">
                                TOTAL: {{ total.count }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}