{% extends 'base.html' %}
{% block title %}Serviços - SGE - Gestão Estudantil{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_servicos_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'servico' %}">Serviços</a></li>
        <li class="breadcrumb-item active">Novo serviço</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card redonda">                 <div class="card-header redonda grey lighten-1 font-weight-bold">
            NOVO SERVIÇO
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <label>{{ form.descricao.label }}</label>
                            {{ form.descricao }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <select name="SelectCategoria" id="SelectCategoria"
                                    class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                    searchable="Pesquisar..." required>
                                <option value="" disabled selected>Selecione a categoria</option>
                                {% for categoria in categorias %}
                                    <option value={{ categoria.id }}>{{ categoria.descricao }}</option>
                                {% endfor %}
                            </select>
                            <label for="SelectCategoria">Categoria</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="float-right">
                            <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                    data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                            <a href="{% url 'servico' %}" class="btn btn-rounded btn-danger" data-toggle="tooltip"
                               data-placement="top" title="Cancelar"><i
                                    class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}