{% extends 'base.html' %}
{% block title %}Serviços - Gestão de Ocorrências - SIGO{% endblock %}
{% block class_servicos_menu %}active{% endblock %}
{% block class_servicos_servico_item %}collapsible-header active{% endblock %}

{% block breadcrumb_base %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Serviços</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header gradient white-text">
                    SERVIÇOS
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <input id="myInput" type="text" class="form-control form-control-sm" autofocus/>
                                <label for="myInput">Pesquisar...</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a href="{% url 'servico_new' %}" class="btn btn-success"><i class="fa fa-plus"></i> Novo
                                    Registro</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th style="font-weight: bold">Descrição</th>
                                <th style="font-weight: bold">Categoria</th>
                                <th style="text-align: right; font-weight: bold">Ações</th>
                            </tr>
                            </thead>
                            <tbody id="myTable">
                            {% for servico in servicos %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ servico.descricao }}</td>
                                    <td style="vertical-align: middle;">{{ servico.categoria }}</td>
                                    <td style="vertical-align: middle; text-align: right">
                                        <a href="{% url 'servico_edit' servico.id %}"
                                           class="btn-floating btn-sm warning-color"
                                           data-toggle="tooltip" data-placement="top" title="Editar"><i
                                                class="fa fa-pencil"></i>
                                        </a>

                                        <i data-toggle="tooltip" data-placement="top" title="Excluir">
                                            <a data-toggle="modal" href="#Excluir{{ servico.id }}"
                                               class="btn-floating btn-sm danger-color"
                                               title="Excluir"><i class="fa fa-trash"></i>
                                            </a>
                                        </i>
                                        <!--Modal EXCLUIR-->
                                        <div class="modal fade" id="Excluir{{ servico.id }}" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-notify modal-danger" role="document">
                                                <!--Content-->
                                                <div class="modal-content">
                                                    <!--Header-->
                                                    <div class="modal-header text-center">
                                                        <h4 class="heading lead">Excluir</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true" class="white-text">&times;</span>
                                                        </button>
                                                    </div>
                                                    <!--Body-->
                                                    <div class="modal-body">
                                                        <form action="{% url 'servico_delete' servico.id %}"
                                                              method="POST">
                                                            {% csrf_token %}
                                                            <div class="row text-left">
                                                                <div class="col-sm-12">
                                                                    <p>Tem certeza que deseja excluir?</p>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="submit"
                                                                        class="btn btn-danger waves-effect">
                                                                    Confirmar
                                                                </button>
                                                                <a type="button"
                                                                   class="btn btn-outline-danger waves-effect"
                                                                   data-dismiss="modal">
                                                                    Voltar
                                                                </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!--/.Content-->
                                            </div>
                                        </div>
                                        <!--Fim Modal EXCLUIR-->
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="card-header warning-color white-text text-center">Sem serviços
                                        cadastrados
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}