{% extends 'base.html' %}
{% block title %}Turmas{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_turma_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb blue-grey lighten-4">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'curso' %}">Cursos</a></li>
        <li class="breadcrumb-item"><a href="{% url 'turma' %}">Turmas</a></li>
        <li class="breadcrumb-item active">Editando turma - {{ turma.descricao }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card redonda mb-4">
        <div class="card-header redonda grey lighten-1 font-weight-bold">
            EDITANDO TURMA
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class=" col-sm-8">
                                <div class="md-form">
                                    <label>{{ form.descricao.label }}</label>
                                    {{ form.descricao }}
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="md-form">
                                    <label>{{ form.turno.label }}</label>
                                    {{ form.turno }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12">
                                    <select name="SelectCurso" id="SelectCurso"
                                            class="mdb-select md-form colorful-select dropdown-success"
                                            searchable="Pesquisar..." required>
                                        <option value="" disabled selected>Selecione o curso</option>
                                        {% for curso in cursos %}
                                            <option value={{ curso.id }} {% if turma and curso.id == c.id %}selected{% endif %}>{{ curso.descricao }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="SelectCurso">Curso</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-success">SALVAR</button>
                                    <a href="{% url 'turma' %}" class="btn btn-danger">CANCELAR</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}