{% extends 'base.html' %}
{% block title %}Turmas - Gestão de Ocorrências - SIGO{% endblock %}
{% block class_cadastro_menu %}active{% endblock %}
{% block class_cadastro_turma_item %}collapsible-header active{% endblock %}
{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url 'curso' %}">Cursos</a></li>
        <li class="breadcrumb-item"><a href="{% url 'turma' %}">Turmas</a></li>
        <li class="breadcrumb-item active">Editando turma - {{ turma.descricao }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header gradient white-text">
            EDITANDO TURMA
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="md-form col-sm-12">
                                <label>{{ form.descricao.label }}</label>
                                {{ form.descricao }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="md-form col-sm-12">
                                <select name="SelectCurso" id="SelectCurso"
                                        class="mdb-select colorful-select dropdown-primary dropdown-ins"
                                        searchable="Pesquisar..." required>
                                    <option value="" disabled selected>Selecione o curso</option>
                                    {% for curso in cursos %}
                                        <option value={{ c.id }}
                                                        {% if turma and curso.id == c.id %}selected{% endif %}>{{ c.descricao }}</option>
                                    {% endfor %}
                                </select>
                                <label for="SelectCurso">Curso</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                                    <a href="{% url 'turma' %}" class="btn danger-color"  data-toggle="tooltip" data-placement="top" title="Cancelar"><i
                                            class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}