{% extends 'base.html' %}
{% block title %}Minha conta{% endblock %}
{% block class_senha_menu %}active{% endblock %}
{% block class_usuario_menu %}active{% endblock %}
{% block class_usuario_conta_item %}collapsible-header active{% endblock %}

{% load widget_tweaks %}
{% block breadcrumb_base %}
    {% if perms.portal.change_aluno and not request.user.is_staff and not request.user.is_superuser %}
    {% else %}
        <ol class="breadcrumb blue-grey lighten-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item"><a href="{% url 'user_account' %}">Minha conta</a></li>
            <li class="breadcrumb-item active">Alterar senha</li>
        </ol>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row mb-4">
        <div class="col-sm-12">
            <div class="card redonda">
                <div class="card-header redonda grey lighten-1 font-weight-bold">
                    ALTERAR SENHA
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="md-form">
                                            <i class="fa fa-unlock-alt prefix"></i>
                                            <label>{{ form.old_password.label }}</label>
                                            {{ form.old_password|attr:'autofocus' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <label>{{ form.new_password1.label }}</label>
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <label>{{ form.new_password2.label }}</label>
                                            {{ form.new_password2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Sua senha não pode ser tão parecida com suas outras informações pessoais.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha precisa conter pelo menos 8 caracteres.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha não pode ser uma senha habitualmente utilizada.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha não pode ser inteiramente numérica.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-success">SALVAR</button>
                                    <a href="{% url 'user_account' %}" class="btn btn-danger">CANCELAR</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}