{% extends 'base.html' %}
{% block title %}Minha Conta - SGE - Gestão Estudantil{% endblock %}
{% block class_usuario_menu %}active{% endblock %}
{% block class_usuario_conta_item %}collapsible-header active{% endblock %}

{% load widget_tweaks %}

{% block breadcrumb_base %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
        <li class="breadcrumb-item active">Minha conta</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header gradient white-text">
                    ALTERAR SENHA
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="md-form col-sm-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="md-form">
                                            <i class="fa fa-unlock-alt prefix"></i>
                                            <label>{{ form.old_password.label }}</label>
                                            {{ form.old_password|attr:'autofocus' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <label>{{ form.new_password1.label }}</label>
                                            {{ form.new_password1 }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="md-form">
                                            <i class="fa fa-lock prefix"></i>
                                            <label>{{ form.new_password2.label }}</label>
                                            {{ form.new_password2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="md-form col-sm-7">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Sua senha não pode ser tão parecida com suas outras informações pessoais.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha precisa conter pelo menos 8 caracteres.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha não pode ser uma senha habitualmente utilizada.
                                    </li>
                                    <li class="list-group-item">
                                        Sua senha não pode ser inteiramente numérica.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-rounded btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Salvar"><i class="fa fa-check"></i></button>
                                    <a href="{% url 'user_account' %}" class="btn btn-rounded danger-color"  data-toggle="tooltip" data-placement="top" title="Cancelar"><i
                                            class="fa fa-close"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}