<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Ocorrência Disciplinar - {{ ocorrencia.id }}/{{ ocorrencia.matricula.ano_letivo }}</title>

    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 1cm;
            margin-right: 1cm;
            margin-top: 6.5cm;
            margin-bottom: 2cm;

            @frame header {
            -pdf-frame-content: page-header;
            margin-top: 0.7cm;
            margin-right: 1cm;
        {#margin-bottom: 0cm;#}
            margin-left: 1cm;
        }

        @frame footer {
        -pdf-frame-content:page-footer;
        bottom: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        height: 2cm;
        }
        }
    </style>

</head>
<body>
<div id="page-header">
    <div style="font-weight: bold; font-size: 12px; text-align: center; vertical-align: middle; border-bottom: 1px solid">
        <img src="{{ ocorrencia.user.userprofile.empresa.logo.url }}" width="120px"><br>
        MINISTÉRIO DA EDUCAÇÃO<br>
        SECRETARIA DE EDUCAÇÃO PROFISSIONAL E TECNOLÓGICA<br>
        {{ ocorrencia.user.userprofile.empresa.razao_social|upper }}<br>
        <em>CAMPUS </em>{{ ocorrencia.user.userprofile.empresa|upper }}
    </div>
    <div style="padding-top:5px; font-weight: bold; font-size: 12px; text-align: center; vertical-align: middle">
        <h3>OCORRÊNCIA DISCIPLINAR - {{ ocorrencia.id }}/{{ ocorrencia.matricula.ano_letivo }}</h3>
    </div>
</div>


<table cellpadding="5" cellspacing="0"
       style="border: 1px solid #ddd; width: 100%; font-size: 12px; vertical-align: middle">
    <tr>
        <td style="width: 15%;">
            <p>
                <strong>DATA</strong><br>
                {{ ocorrencia.data }}
            </p>
        </td>
        <td style="width: 45%;">
            <p>
                <strong>CURSO E TURMA</strong><br>
                {{ ocorrencia.matricula.turma|upper }}
            </p>
        </td>
        <td style="width: 40%;">
            <p>
                <strong>DISCIPLINA</strong><br>
                {% if ocorrencia.disciplina %}
                    {{ ocorrencia.disciplina|upper }}
                {% else %}
                    NÃO INFORMADO
                {% endif %}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p>
                <strong>ESTUDANTE</strong><br>
                {{ ocorrencia.matricula.aluno }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p>
                <strong>DESCRIÇÃO DA FALTA</strong><br>
                ART. {{ ocorrencia.falta.categoria.artigo }} -
                {{ ocorrencia.falta.categoria.descricao|upper }}<br>
                {{ ocorrencia.falta.inciso }} - {{ ocorrencia.falta.descricao }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p>
                <strong>DESCRIÇÃO DA OCORRÊNCIA</strong><br>
                {{ ocorrencia.descricao }}
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; width: 50%">
            <p style="text-align: left">
                <strong>REGISTRADO POR</strong>
            </p>
            <br>
            <p>
                <strong>{{ ocorrencia.user|upper }}</strong><br>
                SIAPE: {{ ocorrencia.user.userprofile.siape }}
            </p>
        </td>
        <td style="text-align: center; width: 50%">
            <p style="text-align: left">
                <strong>CIENTE DO ESTUDANTE</strong>
            </p>
            <br>
            <p>
                <strong>{{ ocorrencia.matricula.aluno|upper }}</strong><br>
                {{ ocorrencia.matricula.aluno.cpf }}
            </p>
        </td>
    </tr>
</table>

<div id="page-footer" style="text-align: right; font-size: 11px">
    {#    Página#}
    {#    <pdf:pagenumber/>#}
    <div style="text-align:center;padding-top: 2px; border-top: 1px solid">
        {{ ocorrencia.user.userprofile.empresa.razao_social }} -
        <em>Campus</em> {{ ocorrencia.user.userprofile.empresa }}<br>
        {{ ocorrencia.user.userprofile.empresa.endereco }}, {{ ocorrencia.user.userprofile.empresa.bairro }},{{ ocorrencia.user.userprofile.empresa.cidade }}/{{ ocorrencia.user.userprofile.empresa.uf }},
        CEP {{ ocorrencia.user.userprofile.empresa.cep }}<br>
        Fone: {{ ocorrencia.user.userprofile.empresa.fone }} / E-mail: {{ ocorrencia.user.userprofile.empresa.email }} /
        Site: {{ ocorrencia.user.userprofile.empresa.site }}
    </div>
</div>
</body>
</html>