<body style="background: #ededed;">
<br><br>
<div style="min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: 80%;
  max-width: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgb(102,102,102);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;">

    <div style="padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #2f9e41;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: white;
      font-weight: bold;
      text-align: center;">

        <h2>ACESSO AUTORIZADO</h2>

    </div>

    <div style="padding: 1.25rem;">
        <p>Olá, {{ usuario.first_name }}.<br>
            Tudo bem?</p>
        <p>
            Olha só que bacana, o seu acesso ao sistema foi <strong>autorizado!</strong> Eu não disse que era
            rapidinho?! =)<br>
            Logo abaixo seguem, somente para fins de confirmação, seus dados cadastrais.
        </p>

        <strong>Nome: </strong> {{ usuario.first_name }}<br>
        <strong>E-mail: </strong> {{ usuario.email }}<br>
        <strong>Usuário: </strong> {{ usuario.username }}<br>
        <p>
            Ah, por questões de segurança, não informamos, aqui, sua senha. Caso você tenha dificuldades em acessar o
            sistema, é só solicitar a redefinição da senha <a
                href="http://qaocorrencia.pythonanywhere.com/password_reset/"
                target="_blank" style="font-weight: bold; text-decoration: none">clicando aqui.</a>
        </p>

        <p>Viu só? Agora é só você <a href="http://qaocorrencia.pythonanywhere.com/" target="_blank"
                                      style="font-weight: bold; text-decoration: none">clicar aqui</a>,
            acessar o sistema e aproveitar seus ótimos recursos!<br><br></p>

        <p style="padding-top: 10px">Bom, por enquanto é isso. Até logo!</p><br>
        <p><strong>IFRO - TRANSFORMANDO VIDAS ATRAVÉS DA EDUCAÇÃO<br></strong>
            Sistema de Gestão Educacional<br><br></p>
    </div>

    <div style="padding: 0.25rem 1.25rem;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.125);">

        <p style="color: red"><strong>Essa é uma mensagem automática, não é necessário respondê-la.</strong></p>
    </div>
</div>
<br><br>
</body>