<div style="font-family:&quot;Lucida Grande&quot;,Tahoma;font-size:12px;margin-top:0.5em;color:rgb(102,102,102);letter-spacing:2px;padding-top:3px;padding-left:10px;overflow:hidden">
    <p>Olá, {{ usuario.userprofile.empresa.responsavel }}.</p>
    <p><strong>Atenção!</strong> Há uma solicitação de acesso ao sistema.</p>

    <strong>Solicitante: </strong> {{ usuario.first_name }}<br>
    <strong>E-mail: </strong> {{ usuario.email }}<br>
    <strong>Unidade: </strong> {{ usuario.userprofile.empresa }}<br><br>
    Acesse a <a href="http://ocorrencia.pythonanywhere.com/user/list" target="_blank">Lista de Usuários</a>
    para confirmar ou cancelar.<br><br>
</div>

<div dir="ltr">
    <table border="0" cellpadding="5" cellspacing="0" width="60%" style="font-size: 8.5pt">
        <tr>
{#            <td style="text-align: center">#}
{#                <img src="http://frota.pythonanywhere.com/static/img/logo.png" style="margin-top: 1em;width:130px;">#}
{#            </td>#}
            <td style="text-align: left">
                <p><strong>SGE&nbsp;<br></strong>
                    <em>Gestão Estudantil&nbsp;</em></p>
{#                <p>(69) 3443-2445&nbsp;<br><a href="mailto:ocorrencia@ifro.edu.br"#}
{#                                              style="margin-top:0.5em;color:rgb(102,102,102);text-decoration:none">ocorrencia@ifro.edu.br</a>&nbsp;<br>#}
{#                </p>#}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 7pt">
                <p style="color: red"><strong>Essa é uma mensagem automática, não é necessário respondê-la.</strong>
                   </p>
            </td>
        </tr>
    </table>
</div>
